export(calculateESpath)
export(filteringPaths)
export(heatmapPaths)
export(metaAnalysisESpath)
export(createObjectMApath)
import(limma)
import(singscore)
import(GSVA)
import(progress)
import(pbapply)
import(Biobase)
import(doParallel)
import(parallel)
import(BiocParallel)
import(metafor)
import(RColorBrewer)
import(pheatmap)
import(impute)
import(Rdpack)
importFrom("methods", "is")
importFrom("scales", "rescale")
importFrom("plyr", "rbind.fill.matrix")
importFrom("grDevices", "colorRampPalette")
importFrom("stats", "median", "model.matrix", "p.adjust", "pbeta",
            "pchisq", "pnorm", "qbeta", "qnorm", "quantile", "sd")
