useDynLib(subselect)
exportPattern(".*.coef")
exportPattern(".*Hmat")
importFrom("stats", "coef", "cor", "cov", "model.extract", "model.matrix", "var", "vcov")
import(ISwR,MASS,corpcor)
export(anneal,genetic,improve,eleaps,leaps,trim.matrix) 
S3method(lmHmat,data.frame)
S3method(lmHmat,default)
S3method(lmHmat,formula)
S3method(lmHmat,lm)
S3method(glhHmat,data.frame)
S3method(glhHmat,default)
S3method(glhHmat,formula)
S3method(glmHmat,glm)
S3method(ldaHmat,data.frame )
S3method(ldaHmat,default)
S3method(ldaHmat,formula)
