exportPattern("^[[:alpha:]]+")
import(leaps)
S3method(summary, pampe)
S3method(plot, pampe)
S3method(plot, robustness)
S3method(print, summary.pampe)
importFrom("graphics", "abline", "axis", "legend", "matplot", "par", "title")
importFrom("stats", "lm", "logLik", "pf", "predict", "printCoefmat")