#exportPattern("^[[:alpha:]]+")
export(GenoScan.prelim,GenoScan.Region,GenoScan.SingleWindow,GenoScan.VCF.chr)
import(SKAT, Matrix, MASS, seqminer,data.table)
importFrom("stats","glm","binomial","cor","lm", "rbinom", "gaussian", "pchisq", "quantile", "sd", "var", "dbeta", "dchisq", "integrate", "qchisq","qnorm")
