importFrom("spatstat.geom", nndist, nndist.default)
import(gstat)
import(automap)
import(intamap)
import(sp)
import(sf)
import(spcosa)
    importFrom("grDevices", "chull", "dev.copy2eps", "terrain.colors", "rainbow")
  importFrom("graphics", "filled.contour", "identify", "locator",
             "mtext", "points", "title", "image")
  importFrom("methods", "as", "extends", "getSlots", "is")
  importFrom("stats", "as.formula", "delete.response", "lm",
             "model.frame", "na.omit", "runif", "sd", "setNames",
             "terms", "pnorm")
  importFrom("utils", "write.csv")
  
export(
	anisotropyChoice,
	biasCorr,
	calculateMukv,
	doSegmentation,
	findBiasUK,
	findBoundaryLines,
	findLocalBias,
	findRegionalBias,
#	getNuts,
#	nuts2Boundaries,
	optimizeNetwork,
	removeLocalBias,
	removeRegionalBias,
  	spCovAdd,
  	spCovDel,
  	ssaOptim
)

S3method(preProcess, removeBias)
