useDynLib(R2SWF, .registration = TRUE)
import(sysfonts)
importFrom("grDevices", "col2rgb", "dev.off")
importFrom("utils", "browseURL")

export(dev2swf)
export(file2swf)
export(image2swf)
export(svg2swf)
export(swf2html)
export(swf)
