# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  XML,
  clusterSim,
  cluster,
  shapes,
  ade4,
  e1071
)

importFrom("graphics", "lines", "plot", "points", "polygon", "rect",
            "segments", "text")

importFrom("stats", "as.dist", "as.formula", "as.hclust", "cor",
            "cutree", "dist", "formula", "hclust", "prcomp", "rnorm",
            "terms")

importFrom("utils", "read.table")
importFrom("RSDA", "read.sym.table")
 