export(spatialCatalogueViewer)

importFrom(DT, datatable, renderDataTable, dataTableOutput)
importFrom(leaflet, addCircleMarkers, addLegend, addProviderTiles, addRectangles, clearMarkers, clearMarkerClusters, clearShapes, leaflet, leafletOutput, leafletProxy, markerClusterOptions, pathOptions, popupOptions, providerTileOptions, renderLeaflet, setView)
importFrom(leaflet.extras, addDrawToolbar)
import(shiny, except=c(dataTableOutput, renderDataTable))
importFrom(shinythemes, shinytheme)
importFrom(stats, median)
importFrom(utils, write.csv)
