body{
	  /*
  background: white url(../images/banner-caddis.png) top left no-repeat fixed;
  padding: 85px 0px 0px 0px;
  */
  font-family: Verdana,sans-serif!important;
  font-size: 13px!important;
}

/*
#header{
	position: fixed!important;
  top: 0!important;
  left: 0!important;
  width: 500%!important;
  height: 75px!important;
  z-index:1!important;
  padding: 0 0 10px 0!important;
  border-bottom: 1px solid darkblue!important;
}
*/
div#MainContent7Cregion{
  position: absolute!important;
  top: 0px!important;
  width: 79%!important;
  padding: 0 1% 1% 1%!important;
}

div#TOC7Cregion{
  position: fixed!important;
  top: 100px!important;
  left: auto!important;
  right: 1%!important;
  width: 15%!important;
  height: 100%!important;
}

div#TableofContents1
{
  text-align: left!important;
  padding: 0px 5px 5px 5px!important;
  border: 1px inset darkblue!important;
}

.Title, .Subtitle
{
  text-align: center!important;
  font-weight: bold!important;
  font-size: 125%!important;
  color: darkblue!important;
}
.Subtitle
{
  font-size: 115%!important;
  font-style: italic!important;
/*  margin-bottom: 80px!important;*/
}

.highlight {
  color: darkred!important;
  font-weight: bold!important;
}

a.tip {
  color: darkgreen!important;
  text-decoration: none!important;
  border: 1px dotted gray!important;
  width: 100px;
}

h1
{
  font-size: 125%!important;
  color: darkblue!important;
}
h2
{
  font-size: 105%!important;
  color: darkblue!important;
}


.Textbody
{
  text-align:justify!important;
  width: auto!important;
}
img
{
  height: auto !important;
  width: auto !important;
}


.ContentsHeading, .Contents20Heading
{
  font-size: 95%!important;
  font-weight: bold!important;
  color: darkblue!important;
  margin: 2px!important;
}

.Contents1, .Contents201
{
  font-size: 90%!important;
  padding: 2px!important;
  margin: 0!important;
}

.results {
  padding: 5px 10px 5px 10px!important;
  text-align: right!important;
}

caption {
  font-size:105%!important;
  color: darkblue!important;
  text-align: left!important;
  padding: 10px 5px!important;
}

table.results {
  border: solid 1px black!important;
  padding: 0!important;
}

thead td.results, .rownames {
  background-color: darkblue!important;
  font-weight: bold!important; 
  color: white!important;
  padding: 5px 10px 5px 10px!important;
}

/*
body>div#TableofContents1
{
  position:fixed;
}
body>div#header
{
  position:fixed;
}

* html body{
  overflow:hidden;
 } 

*/





a.tt{
    position:relative;
    z-index:24;
    color:#3CA3FF;
  font-weight:bold;
    text-decoration:none;
}
a.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover{ z-index:25; color: #aaaaff; background:;}
a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px; left:0;
  padding: 15px 0 0 0;
  width:200px;
  color: #993300;
    text-align: center;
  filter: alpha(opacity:90);
  KHTMLOpacity: 0.90;
  MozOpacity: 0.90;
  opacity: 0.90;
}
a.tt:hover span.top{
  display: block;
  padding: 30px 8px 0;
    background: url(bubble.gif) no-repeat top;
}
a.tt:hover span.middle{ /* different middle bg for stretch */
  display: block;
  padding: 0 8px; 
  background: url(bubble_filler.gif) repeat bottom; 
}
a.tt:hover span.bottom{
  display: block;
  padding:3px 8px 10px;
  color: #548912;
    background: url(bubble.gif) no-repeat bottom;
}