exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("graphics", "lines", "plot")
importFrom("stats", "stepfun", "var")
#useDynLib(StepSignalMargiLike)
useDynLib(StepSignalMargiLike, .registration=TRUE)

