
importFrom("graphics", "abline")
importFrom("methods", "is", "new", "show")
importFrom("stats", "cutree", "dist", "hclust", "kernel")
importFrom("stats", "cmdscale")
importFrom("stats", "cor", "delete.response", "kmeans", "model.matrix", "na.omit", "pchisq", "rnorm")
importFrom("class", "knn")

export(	## kernel functions
       "rbfbase",
       "nonlbase",
       "laplbase",
       "ratibase",
       "multbase",
       "invbase",
       "wavbase",
       "powbase",
       "logbase",
       "caubase",
       "chibase",
       "studbase",
       "qkernmatrix",
       "nonlcnd",
       "polycnd",
       "rbfcnd",
       "laplcnd",
       "anocnd",
       "raticnd",
       "multcnd",
       "invcnd",
       "wavcnd",
       "powcnd",
       "logcnd",
       "caucnd",
       "chicnd",
       "studcnd",
       "norcnd",
       "cndkernmatrix",
       "as.qkernmatrix",
       "as.cndkernmatrix",
       ## High level functions
       "qkdbscan",
       "qkgda",
       "qkIsomap",
       "qkLLE",
       "qkpca",
       "qkspecc",
       "qsammon",
       "qtSNE",
       ## Utility functions
       "Eucdist",
       "blkdiag",
       ## Accessor functions
       "cndkernf",
       "qpar",
       "xmatrix",
       "kcall",
       "terms",
       "n.action",
       ## qkpca
       "rotated",
       "eVal",
       "pcv",
       ## qkgda
       "prj",
       "eVec",
       "label",
       ## qkIsomap
       "dims",
       "connum",
       "Residuals",
      ## qkLLE
      ## qtSNE
       "dimRed",
       ## qsammom
      ## qkdbscan
       "clust",
       "eps",
       "MinPts",
      "isseed"
       ## qkspecc
)

exportMethods("predict", "show", "plot", "print")
exportClasses("qkdbscan", "qkgda", "qkIsomap", "qkLLE", "qkpca", "qkspecc", "qsammon", "qtSNE",
    "qkernel", "rbfqkernel", "nonlqkernel",
              "laplqkernel", "ratiqkernel", "multqkernel","invqkernel",
              "wavqkernel", "powqkernel", "logqkernel",
              "cauqkernel", "chiqkernel",
              "studqkernel","cndkernel", "nonlkernel", "polykernel",
              "rbfkernel", "laplkernel", "anokernel","ratikernel",
              "multkernel", "invkernel", "wavkernel",
              "powkernel", "logkernel", "caukernel",
           "chikernel", "studkernel","norkernel",
               "qkernmatrix", "cndkernmatrix")


exportPattern("^[[:alpha:]]+")
