exportPattern("^[[:alpha:]]+")
import(sp)
import(raster)
importFrom(sf,"st_polygon","st_as_sfc","st_sfc","st_transform")
importFrom(utils,"txtProgressBar","setTxtProgressBar","read.csv","unzip")
importFrom(soiltexture,"TT.points.in.classes","TT.normalise.sum")
importFrom(FuzzyAHP, "pairwiseComparisonMatrix", "consistencyRatio", "calculateWeights", "calculateAHP")
importFrom(Hmisc,"histbackback")
importFrom(stats,"ks.test", "as.formula", "fitted", "lm", "cor", "sd", "splinefun")
import(caret)
importFrom(randomForest,"randomForest")
importFrom(methods, "as","is")
importFrom(e1071, "svm")
importFrom(nnet,"nnet")
importFrom(deSolve,"ode")
importFrom(terra,"crs")
importFrom(graphics, "box", "grid", "legend", "mtext", "par")
importFrom(googledrive,"drive_deauth","drive_download","as_id")
importFrom(png,"readPNG")
importFrom(grid,"grid.raster")
