exportPattern("^[[:alpha:]]+")
import(MCMCglmm)
import(ggplot2)
 importFrom("coda", "autocorr")
 importFrom("graphics", "abline", "arrows", "axis", "lines", "par",
            "plot", "points", "strwidth", "text")
 importFrom("stats", "as.formula", "coef", "formula", "lm", "lowess",
            "p.adjust", "pnorm", "predict", "qqnorm", "quantile",
            "relevel", "sd", "terms", "cor", "cor.test")
 importFrom("utils", "stack", "unstack")
