export(aic.grid)
export(bic.grid)
export(contour_image_grid)
export(contour_grid)
export(d.grid)
export(data.grid)
export(estimate.gridCopula)
export(image_color_grid)
export(mosaic.grid)
export(perspective.grid)
export(p.grid)
export(r.grid)
export(measures.grid)
import(Rsolnp)
import(fields)
importFrom(limSolve,lsei)
import(ggplot2)
import(pracma)
import(reshape2)
importFrom("grDevices", "cm.colors", "gray", "heat.colors", "rainbow",
               "terrain.colors", "topo.colors")
importFrom("graphics", "abline", "axis", "contour", "filled.contour",
               "image", "mtext", "persp")
importFrom(evmix,dkden,qkden)
importFrom("stats", "dnorm", "pnorm", "runif")
    importFrom("graphics", "points")
    importFrom("stats", "density", "ecdf", "integrate", "qnorm", "sd")
