useDynLib(GWASinlps, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppArmadillo, fastLm)
import(mombf)
import(fastglm)
import(horseshoe)
import(survival)
importFrom("stats", "cor", "na.omit", "lm", "rbeta", "rbinom", "rnorm", "poisson", "glm", "sd", "dnorm", "uniroot", "pnorm", "nlminb", "coef", "binomial", "residuals", "as.formula")
export("GWASinlps", "nlpsLM", "nlpsGLM")