exportPattern("^[[:alpha:]]+")
exportClasses(trialDesign_binom_one,trialDesign_binom_two)
exportMethods(plot, print, show)
export(shiny_binom_single_onestage, shiny_binom_single_twostage, freq_binom_one_onestage, freq_binom_one_simons_twostage, freq_binom_one_landemets, bayes_binom_one_postprob_onestage, bayes_binom_one_postprob_nstage, bayes_binom_one_postlike_nstage, freq_binom_two_singlestage, freq_binom_two_bryantday_twostage, bayes_binom_two_postprob, bayes_binom_two_postlike, bayes_binom_two_loss, binom_one_power, plot_binom_one_power, binom_one_assurance, plot_binomassurance, binom_one_alpha)
import(VGAM, shiny, plyr, methods, data.table)
importFrom(clinfun, ph2simon)
importFrom("graphics", "abline", "axis", "box", "image", "lines", "par", "points", "polygon", "segments", "text")
importFrom("stats", "dbeta", "dbinom", "integrate", "pbeta", "pbinom", "pnorm", "qbinom", "qnorm")
S3method(print,list_trialDesign_binom_two)