
# Export all names
useDynLib("lazy")
exportPattern(".")

importFrom("stats", "delete.response", "model.response",
             "model.weights", "terms")

S3method(predict,lazy)
S3method(print,lazy)
S3method(summary,lazy)
S3method(print,summary.lazy)
