import("Matrix")
import("limSolve")
importFrom("stats", "fitted", "mad", "median", "sd", "ts.plot")
importFrom("grDevices", "gray", "colorRampPalette")
importFrom("graphics", "lines")
importFrom("generics", "train")
importFrom("generics", "components")

export("create_TRMF")
export("impute_TRMF")

export("TRMF_columns")
export("TRMF_trend")
export("TRMF_simple")
export("TRMF_seasonal")
export("TRMF_ar")
export("TRMF_regression")
export("NormalizeMatrix")
export("train")
export("retrain")
export("components")



S3method(summary,TRMF)
S3method(plot,TRMF)
S3method(residuals,TRMF)
S3method(fitted,TRMF)
S3method(predict,TRMF)
S3method(coef,TRMF)
S3method(train,TRMF)
S3method(components,TRMF)





