useDynLib(TukeyRegion)
import(Rcpp)
import(ddalpha)
import(rgl)
import(Rglpk)
import(MASS)
import(bfp)
export(TukeyRegion,TukeyMedian,depth.wm,TukeyKRegions,TukeyRegions,TukeyKMedian)
S3method(plot,TukeyRegion)
S3method(summary,TukeyRegion)
