importFrom(ppcor, pcor.test)
importFrom(SuppDists, rPearson)
importFrom("grDevices", "dev.new")
importFrom("graphics", "abline", "hist", "layout")
importFrom("stats", "as.dist", "cor", "median", "na.exclude", "quantile", "sd")
importFrom("utils", "combn")
export(pint, pint.boot, pint.jack, pint.p, cor.par, pintsc, pintsc.boot, pintsc.jack, pintsc.p)
