S3method(print,FRESHD)
S3method(predict,FRESHD)
importFrom("stats", "var")
importFrom("glamlasso", "glamlasso")
export(RH)
export(maximin)
export(magging)
export(wt)
export(iwt)
importFrom(Rcpp,evalCpp)
useDynLib(FRESHD, .registration = TRUE)
