import(sp)
import(sf)
import(gstat)
import(automap)
import(mvtnorm)
import(MASS)
import(evd)
import(MBA)
import(doParallel)
import(parallel)
import(foreach)
  importFrom("grDevices", "boxplot.stats", "chull", "dev.off", "pdf",
             "rainbow")
  importFrom("graphics", "image", "par", "points", "title")
  importFrom("methods", "as", "extends", "getSlots", "is", "slot")
  importFrom("stats", "IQR", "aggregate", "as.formula", "cor", "dchisq",
             "delete.response", "dist", "dnorm", "fivenum", "integrate",
             "ks.test", "loess", "lsfit", "median", "model.matrix",
             "optim", "pgamma", "plogis", "pnorm", "predict", "pt",
             "qchisq", "qnorm", "quantile", "rnorm", "runif", "sd",
             "terms", "uniroot", "var")
  importFrom("utils", "capture.output", "data", "modifyList",
             "write.table")
export(
  bayesCopula,
  blockPredict,
	checkSetup,
	coarsenGrid,
	conformProjections,
	copulaEstimation, 
  createIntamapObject,
	estimateAnisotropy,
	estimateParameters,
	generateTimeModels,
	getIntamapParams,
	getInterpolationMethodNames,
	interpolate,
	interpolateBlock,
	methodParameters,
	plotIntamap,
  postProcess,
	predictTime,
	preProcess,
	rotateAnisotropicData,
	spatialPredict,
	summaryIntamap,
  unbiasedKrige,
	yamamotoKrige
)

S3method(preProcess, default)
S3method(preProcess, idw)

S3method(estimateParameters, default)
S3method(estimateParameters, idw)
S3method(estimateParameters, linearVariogram)
S3method(estimateParameters, automap)
S3method(estimateParameters, copula)
S3method(estimateParameters, yamamoto)
S3method(estimateParameters, transGaussian)

S3method(plot, idw)
S3method(plot, automap)
S3method(plot, copula)
S3method(plot, automap)


S3method(spatialPredict, default)
S3method(spatialPredict, idw)
S3method(spatialPredict, block)
S3method(spatialPredict, linearVariogram)
S3method(spatialPredict, automap)
S3method(spatialPredict, copula)
S3method(spatialPredict, yamamoto)
S3method(spatialPredict, transGaussian)

S3method(postProcess, default)
S3method(postProcess, idw)

S3method(methodParameters, default)
S3method(methodParameters, copula)
S3method(methodParameters, idw)

S3method(summary, copula)
S3method(summary, idw)
S3method(summary, automap)
S3method(summary, linearVariogram)
S3method(summary, transGaussian)
S3method(summary, yamamoto)



S3method(plot, copula)
S3method(plot, idw)
S3method(plot, automap)
S3method(plot, linearVariogram)
S3method(plot, transGaussian)
S3method(plot, yamamoto)

