import(parallel, MultinomialCI, DEoptim, FuzzyNumbers)
importFrom("stats", "nls", "runif", "splinefun")
importFrom("utils", "flush.console")
export(fuzzyStationaryProb)
S3method(print, FuzzyStatObj)
S3method(summary, FuzzyStatObj)
