useDynLib(essentials, .registration = TRUE, .fixes = "C_")


exportClass(numbers)


importFrom(methods, coerce)
exportMethods(coerce)


export(as.scalar.logical)
export(as.scalar.integer)
export(as.scalar.real, as.scalar.double, as.scalar.numeric)
export(as.scalar.complex)
export(as.scalar.number)
export(as.scalar.string, as.scalar.character)
export(as.scalar)
export(aslength1)


export(numbers, is.numbers, as.numbers)


export(hypot)
