import(truncnorm) 
import(triangle) 
importFrom("stats", "binom.test", "dbinom", "df", "p.adjust", "pbinom",
              "qbinom", "rbinom", "sd")
importFrom("utils", "combn", "write.csv")
importFrom(data.table, "setkey", ":=", "setorder", "as.data.table")
importFrom(reshape2, melt, dcast)

export(par.dist.default)
export(sample.knowledge.H1)
export(simul.scenario.rs)
export(region.acceptance)
export(region.power)
export(minP.adj.pvalue)
export(power.target.Nclasses)