exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "curve", "par")
importFrom("FuzzyNumbers", "supp", "core", "alphacut", "plot", "TriangularFuzzyNumber", "TrapezoidalFuzzyNumber", "PowerFuzzyNumber", "as.PiecewiseLinearFuzzyNumber", "piecewiseLinearApproximation")
