#IMPORTS
importFrom("ctmm", "ctmm", "%#%")
importFrom("ape", "keep.tip", "vcv")
importFrom("ClusterR", "GMM")
importFrom("slouch", "slouch.fit", "brown.fit")
importFrom("stats", "AIC", "BIC", "lm", "vcov", "var", "na.omit")
importFrom("utils", "txtProgressBar", "setTxtProgressBar", "combn")
importFrom("methods", "new")

#VARIOGRAM FUNCTIONS
export(variogram)
S3method(plot,vg)


#MODEL FITTING FUNCTIONS
export(ctpm.fit)
