import(methods, car, nnet, RSNNS, e1071, randomForest)
importFrom("graphics", image, par)
importFrom("utils", View)
importFrom("grDevices", "rainbow")
importFrom("stats", "as.formula", "cov", "na.omit", "predict")
exportClasses(rasclass, rasclassRaster)
exportMethods(buildFormula, checkRasclass, rasclassMlc, classifyRasclass, readRaster, readRasterFolder, setRasclassData, writeRaster, View, image, summary)
