import(fda,parallel,funFEM,abind,ggplot2)
importFrom(graphics,plot)
importFrom("grDevices", "palette")
importFrom("graphics", "barplot", "lines", "par", "title", "abline")
importFrom("stats", "dnorm", "kmeans", "model.matrix","rmultinom","rnorm")
export("funLBM","ari","plot.funLBM","simulateData","simulateData2","print.funLBM")
S3method(plot,funLBM)
S3method(print,funLBM)
S3method(plot,fd)
