exportPattern("^[[:alpha:]]+")
importFrom("stats", "aov", "pchisq", "pf", "qnorm", "dnorm", "pnorm", "rchisq", "rnorm", "rt", "var")
importFrom("utils", "combn")
importFrom("stats", "IQR", "mad", "median", "quantile", "sd", "shapiro.test")
