/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed:700|Roboto+Slab:400,700");
body {
  font-family: 'Roboto', sans-serif;
}

.main-header .logo {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 3rem;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.menu-title {
  padding-left: 18px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 700;
}

.box-header .box-title {
  font-size: 16px;
}

/* Fix Widgets */
.box {
  border-top: 5px solid;
}

.awesome-checkbox label {
  font-weight: 400;
}

.awesome-checkbox label::after {
  font-weight: 700;
}

.btn-box-tool,
.open .btn-box-tool {
  color: #444;
}

/* Custom modal help buttons */
.modal-help-button {
  background: transparent;
  color: #444;
  position: absolute;
  padding: 4px 10px;
  border: 0;
  top: 5px;
}

.modal-help-button:hover {
  background: transparent;
  color: #606c84;
}

.modal-help-button:focus {
  background: transparent;
}

.box-modal-help-button {
  right: 40px;
}

.tabbox-modal-help-button {
  right: 5px;
}

/* Improve rhandsontable overflow */
.hot-improved {
  height: auto;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

/* Custom Widget Classes */
.side-widget {
  display: inline-block;
  vertical-align: top;
}

.side-widget-tall {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -21px;
}

.side-widget-download {
  display: inline-block;
  vertical-align: top;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.side-widget-format {
  display: inline-block;
  vertical-align: top;
  margin-bottom: -21px;
  margin-left: -5px;
}

.side-widget-format .selectize-input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.widget-sep {
  display: inline-block;
  vertical-align: top;
  width: 20px;
}

.small-action-button {
  height: 25px;
  line-height: 0;
  padding: 0 8px 0 8px;
}

/* Custom cols for cards/boxes with innerColumn() function */
.col-inner-4,
.col-inner-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

@media (min-width: 900px) {
  .col-inner-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-inner-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-inner-textinput-left {
  padding: 0 !important;
}

.col-inner-textinput-right {
  padding: 0 !important;
}

@media (min-width: 767px) {
  .col-inner-textinput-left {
    padding: 0 !important;
    padding-right: 5px !important;
  }
  .col-inner-textinput-right {
    padding: 0 !important;
    padding-left: 5px !important;
  }
}

/* Custom tabItem() container */
.tabitem-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

/* Sidebar */
.sticky-footer {
  position: fixed;
  bottom: 0;
  padding-left: 18px;
  z-index: 1000;
}

/* Navbar */
.skin-purple .main-header .navbar {
  background-color: #2EC27E;
}

.skin-purple .main-header .navbar .nav > li > a {
  color: #ffffff;
}

.skin-purple .main-header .navbar .nav > li > a:hover {
  background: #ffffff;
  color: #2EC27E;
}

.skin-purple .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}

.skin-purple .main-header .navbar .sidebar-toggle:hover {
  color: #2EC27E;
  background: #ffffff;
}

.skin-purple .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-purple .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid #2EC27E;
  border-right-width: 0;
}

.main-header .logo img {
  padding-bottom: 5px;
}

.skin-purple .main-header > .logo {
  background-color: #2EC27E;
  color: #ffffff;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #2EC27E;
}

.skin-purple .main-header > .logo:hover {
  background-color: #2EC27E;
}

.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 400px;
  padding: 0;
  margin: 10px;
  top: 100%;
  background-color: #fefefee6;
  box-shadow: 10px 10px 10px darkgrey;
}

.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #2EC27E;
  padding: 7px 10px;
  border-bottom: 1px solid #2EC27E;
  color: #ffffff;
  font-size: 14px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  max-height: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #000000;
  overflow: hidden;
  white-space: normal;
}

section.sidebar .shiny-bound-input.action-button,
section.sidebar .shiny-bound-input.action-link {
  margin: auto;
  display: block;
}

.sidebar {
  height: 90vh;
  overflow-y: auto;
}

.skin-purple .left-side,
.skin-purple .main-sidebar,
.skin-purple .wrapper {
  background-color: #222632;
}

.skin-purple .sidebar-menu > li.active > a,
.skin-purple .sidebar-menu > li:hover > a {
  color: #fff;
  background: #222632;
  border-left-color: #2EC27E;
}

.skin-purple .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2F3445;
  padding-bottom: 2px;
}

.skin-purple .sidebar a {
  color: #ffffff;
}

.skin-purple .treeview-menu > li > a {
  color: white;
}

.skin-purple .treeview-menu > li:hover > a {
  color: white;
}

/*.sidebar-menu .treeview-menu>li.active {
  margin: 0;
  border-left: 3px solid;
  border-left-color: #2EC27E;
}*/
.sidebar-menu .treeview-menu > .active .fa {
  color: #2EC27E;
}

/* Boxes */
.box.box-primary {
  border-top-color: #5B5EA8;
}

.box.box-success {
  border-top-color: #2db77d;
}

.box.box-warning {
  border-top-color: #F6A945;
}

.box.box-danger {
  border-top-color: #F6A945;
}

.box.box-info {
  border-top-color: #2B7C9A;
}

/* tabBoxes */
.nav-tabs-custom > .nav-tabs > li.active {
  border-top: 5px solid;
  border-radius: 3px;
  border-top-color: #2db77d;
}

.nav-tabs-custom {
  box-shadow: 0 lightgrey;
}

/* File selector widget */
.btn.btn-file {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-style: solid none solid solid;
}

.progress {
  border-radius: 3px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.progress-bar {
  font-size: 15px;
  line-height: 25px;
  background-color: #2B7C9A;
}

/* Default Buttons */
.btn-danger {
  background-color: #5B5EA8;
  border-color: #5B5EA8;
  height: 55px;
  width: 300px;
  border-radius: 0;
  position: relative;
  font-size: 18px;
}

.btn-primary {
  background-color: darkgrey;
  border-color: darkgrey;
  color: white;
  height: 55px;
  width: 300px;
  border-radius: 0;
  position: relative;
  font-size: 18px;
}

.btn-primary:hover {
  background-color: #5B5EA8;
  border-color: #5B5EA8;
  color: white;
  border-color: #5B5EA8;
}

.btn-success {
  font-size: 18px;
  font-family: inherit;
  padding: 5px 12px;
  height: 55px;
  min-width: 21.85%;
  margin: 0px 10px 14px 20px;
  text-align: left;
  color: white;
  background: #727477;
  text-indent: 4px;
  vertical-align: middle;
  border-radius: 0px;
  border-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.btn-success:hover {
  background-color: #2db77d;
  font-size: 18px;
  font-family: inherit;
  padding: 5px 12px;
  height: 55px;
  min-width: 21.85%;
  margin: 0px 10px 14px 20px;
  text-align: left;
  color: white;
  text-indent: 4px;
  vertical-align: middle;
  border-radius: 0px;
  border-color: transparent;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out;
}

.btn-warning,
.btn-warning:hover {
  font-size: 18px;
  font-family: inherit;
  padding: 5px 12px;
  height: 55px;
  min-width: 21.85%;
  margin: 0px 10px 14px 20px;
  text-align: left;
  color: white;
  background: #F6A945;
  text-indent: 4px;
  vertical-align: middle;
  border-radius: 0px;
  border-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Home Button */
.home-button {
  color: #ffffff;
  background-color: #6C63FF;
  border-color: #514bc0;
}

.home-button:focus {
  color: #ffffff;
  background-color: #6C63FF;
  border-color: #514bc0;
}

.home-button:hover {
  color: #ffffff;
  background-color: #8b84ff;
  border-color: #514bc0;
}

/* Options Button */
.options-button {
  color: #ffffff;
  background-color: #2B7C9A;
  border-color: #26618a;
}

.options-button:focus {
  color: #ffffff;
  background-color: #2B7C9A;
  border-color: #26618a;
}

.options-button:hover {
  color: #ffffff;
  background-color: #27a1d0;
  border-color: #26618a;
}

/* Inputs Button */
.inputs-button {
  color: #ffffff;
  background-color: #5B5EA8;
  border-color: #4c44ac;
}

.inputs-button:focus {
  color: #ffffff;
  background-color: #5B5EA8;
  border-color: #4c44ac;
}

.inputs-button:hover {
  color: #ffffff;
  background-color: #7275ce;
  border-color: #4c44ac;
}

/* Results Button */
.results-button {
  color: #ffffff;
  background-color: #2db77d;
  border-color: #13794a;
}

.results-button:focus {
  color: #ffffff;
  background-color: #2db77d;
  border-color: #13794a;
}

.results-button:hover {
  color: #ffffff;
  background-color: #37e495;
  border-color: #13794a;
}

/* Export Button */
.export-button {
  color: #ffffff;
  background-color: #F6A945;
  border-color: #eb8a0b;
}

.export-button:focus {
  color: #ffffff;
  background-color: #F6A945;
  border-color: #eb8a0b;
}

.export-button:hover {
  color: #ffffff;
  background-color: #ffba63;
  border-color: #eb8a0b;
}

/* Primary Checkboxes */
.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #5B5EA8;
  border-color: #5B5EA8;
  border-top-color: #5bc0de;
  border-right-color: #5bc0de;
  border-bottom-color: #5bc0de;
  border-left-color: #5bc0de;
}

/* Info Checkboxes */
.checkbox-info input[type="checkbox"]:checked + label::before, .checkbox-info input[type="radio"]:checked + label::before {
  background-color: #2B7C9A;
  border-color: #2B7C9A;
  border-top-color: #5bc0de;
  border-right-color: #5bc0de;
  border-bottom-color: #5bc0de;
  border-left-color: #5bc0de;
}

/* Success Checkboxes */
.checkbox-success input[type="checkbox"]:checked + label::before, .checkbox-success input[type="radio"]:checked + label::before {
  background-color: #2db77d;
  border-color: #2db77d;
  border-top-color: #5bc0de;
  border-right-color: #5bc0de;
  border-bottom-color: #5bc0de;
  border-left-color: #5bc0de;
}

/* Warning Checkboxes */
.checkbox-warning input[type="checkbox"]:checked + label::before, .checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #F6A945;
  border-color: #F6A945;
  border-top-color: #5bc0de;
  border-right-color: #5bc0de;
  border-bottom-color: #5bc0de;
  border-left-color: #5bc0de;
}

/* Danger Checkboxes */
.checkbox-danger input[type="checkbox"]:checked + label::before, .checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #F6A945;
  border-color: #F6A945;
  border-top-color: #5bc0de;
  border-right-color: #5bc0de;
  border-bottom-color: #5bc0de;
  border-left-color: #5bc0de;
}

/* Primary Switches */
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  color: #fff;
  background: #5B5EA8;
}

/* Primary Radiobuttons */
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #5B5EA8;
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #5B5EA8;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #5B5EA8;
}

/* Info Radiobuttons */
.radio-info input[type="radio"]:checked + label::before {
  border-color: #2B7C9A;
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #2B7C9A;
}

.radio-info input[type="radio"] + label::after {
  background-color: #2B7C9A;
}

/* Success Radiobuttons */
.radio-success input[type="radio"]:checked + label::before {
  border-color: #2db77d;
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: #2db77d;
}

.radio-success input[type="radio"] + label::after {
  background-color: #2db77d;
}

/* Warning Radiobuttons */
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #F6A945;
}

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #F6A945;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #F6A945;
}

/* Danger Radiobuttons */
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #F6A945;
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #F6A945;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #F6A945;
}

/* Modals */
.modal-dialog {
  max-width: 1000px;
  border-radius: 5px;
  border: 2px solid white;
}

.modal-body {
  max-height: 700px;
  align-content: center;
  border: 2px solid white;
  border-radius: 5px;
}

.modal-sm {
  max-width: 1200px;
  align-content: center;
  border-radius: 5px;
  border: 2px solid white;
}

/* Fontawesome Tweaks */
.fa.fa-minus {
  margin-right: 4px;
  margin-left: 4px;
}

.fa.fa-plus {
  margin-right: 4px;
  margin-left: 4px;
}

.fa.fa-gear.opt {
  margin-right: 0px;
}

.fa.fa-search-plus.opt {
  margin-right: 0px;
}

.fa.fa-user,
.fa.fa-thumbs-o-up,
.fa.fa-flask.flask-box,
.fa.fa-spinner.spinner-box {
  color: white;
  font-size: 20;
  margin-right: 10px;
  font-size: 30px;
  vertical-align: middle;
}
