# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(GA)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "abline", "barplot", "grid", "legend", "lines",
             "mtext", "par", "points")
importFrom("stats", "ecdf", "pgamma")
importFrom("utils", "str", "write.table")





