importFrom("graphics",
           "plot", "axis",
           "contour",
           "filled.contour",
           "grid",
           "par",
           "title")

importFrom("grDevices",
           "heat.colors")

importFrom("stats",
           "ave",
           "loess",
           "median",
           "na.omit",
           "predict",
           "runif",
           "splinefun",
           "uniroot",
           "update",
           "window",
           "dist")

importFrom("utils",
           "modifyList",
           "read.table",
           "setTxtProgressBar",
           "stack",
           "txtProgressBar",
           "write.table")

importFrom("RColorBrewer",
           "brewer.pal")

importFrom("httr2",
           "request",
           "req_url_path",
           "req_url_query",
           "req_perform",
           "resp_body_json")

import("methods")

import("lattice")
import("latticeExtra")

import("data.table")

export(
    ##small utilities
    hms,
    doy,
    dom,
    dst,
    d2r,
    r2d,
    h2r,
    h2d,
    r2h,
    d2h,
    r2sec,
    lonHH,
    local2Solar,
    #CBIND,
    diff2Hours,
    char2diff,
    sample2Hours,
    P2E,
    truncDay,
    ##solar angles
    declination, eccentricity, eot,
    sunrise, bo0d, sunHour, zenith, azimuth,
    fBTd, fBTi,
    fSolD, fSolI,
    fTemp,
    fCompD, fCompI,
    fTheta, fInclin,
    fProd,
    fSombra, fSombra2X, fSombra6, fSombraHoriz, fSombraEst,
    fPump, HQCurve, NmgPVPS,
    ## Correlations
    Kti, Ktd, Ktm,
    FdKtPage,
    FdKtLJ,
    FdKtCPR,
    FdKtEKDd,
    FdKtCLIMEDd,
    FdKtEKDh,
    FdKtCLIMEDh,
    FdKtBRL,
    ##constructors
    calcSol,
    calcG0,
    calcGef,
    calcShd,
    prodGCPV,
    prodPVPS,
    optimShd,
    readG0dm,
    readBDd,
    readBDi,
    dt2Meteo,
    Meteoi2Meteod,
    Meteod2Meteom,
    zoo2Meteo,
    readSIAR,
    ##themes for lattice
    solaR.theme
    )

exportMethods(
    getData,
    getG0,
    getLat,
    indexD,
    indexI,
    writeSolar,
    as.data.tableD,
    as.data.tableI,
    as.data.tableM,
    as.data.tableY,
    show,
    xyplot,
    levelplot,
    shadeplot,
    losses,
    compare,
    compareLosses,
    mergesolaR)

exportClasses(
    Meteo,
    Sol,
    G0,
    Gef,
    ProdGCPV,
    ProdPVPS,
    Shade
    )

