exportPattern("^[[:alpha:]]+")
S3method(plot, dates)
S3method(plot, map)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "boxplot", "plot", "points", "segments","plot.new")
importFrom("utils", "head", "tail", "data", "download.file")
importFrom("grid", "grid.newpage", "grid.draw", "grid.text", "gpar", "viewport", "pushViewport", "popViewport")
importFrom("grImport2", "pictureGrob")
importFrom("stats", "setNames", "complete.cases")
importFrom("multiplex", "rm.isol", "dichot", "comps")
