export(G.matrix)
export(popgen)
export(raw.data)
importFrom(Matrix,nearPD)
importFrom(matrixcalc,is.positive.definite)
importFrom(stringr,str_count)
importFrom(utils, combn)
importFrom(rgl, plot3d)
importFrom(grDevices, dev.off, pdf, gray.colors)
importFrom(graphics, axis, barplot, hist, par, text, title, legend, plot)
importFrom(stats, heatmap, pchisq, princomp, dist, na.omit, quantile, var, aggregate)
importFrom(impute, impute.knn)