
# Import all packages listed as Imports or Depends
import("grDevices")
import("utils")
import("maps")
import("mapdata")
import("cleangeo")
import("suntools")
import("raster",except=c(lines,barplot,image,hist,boxplot,text,plot))
import("dygraphs")
import("sf")
import("xts")
import("readr")
import("oceanmap")
importFrom("methods", "extends")
#importFrom("oceanmap","ggplotmap")
import("sp",except=c(plot))
import(stringr)
importFrom("stats", "runif")
importFrom("methods", "as")
importFrom("lubridate", "yday")
importFrom("pracma", "Mode")
importFrom("stats", "approx")
importFrom("methods", "is")
importFrom("plyr",ddply)
importFrom("stats", "median", "sd", "spline")
import("graphics", except=c(layout,pairs,persp,contour))
import("ncdf4")
import("ggplot2")
import("leaflet",except=c('addLegend'))
import("leaflet.extras2")
import("shiny")
import("htmlwidgets")
import("ggedit",except=c('%>%'))
# Export all names
exportPattern("^[^\\.]")
