useDynLib("robustcov", .registration = TRUE)
import(Rcpp, stats,caret, glasso)
export(conta_normal)
export(corKendall)
export(corQuadrant)
export(corSpearman)
export(covGK)
export(covNPD)
export(covOGK)
export(covSpearmanU)
export(cvglasso)
export(nearPPSD)
export(negLLrobOmega)
export(raltert)
export(rmvnorm)
export(rmvt)
export(robglasso)
