http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/afstemningsomraader/autocomplete?q=br%C3%B8nder
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 72739d4c-686a-4695-b39d-4c686a7695f5
      x-gravitee-request-id: 72739d4c-686a-4695-b39d-4c686a7695f5
    body:
      string: |-
        [
        {
          "tekst": "Brønderslev",
          "afstemningsområde": {
            "ændret": "2025-09-11T21:02:14.519Z",
            "geo_version": 8,
            "geo_ændret": "2025-09-11T21:02:14.519Z",
            "bbox": [
              9.8362436,
              57.21532223,
              10.01826506,
              57.30117137
            ],
            "visueltcenter": [
              9.91507879,
              57.25208709
            ],
            "href": "https://api.dataforsyningen.dk/afstemningsomraader/810/10",
            "dagi_id": "710140",
            "nummer": "10",
            "navn": "Brønderslev",
            "afstemningssted": {
              "navn": "Brønderslev Hallen",
              "adgangsadresse": {
                "href": "https://api.dataforsyningen.dk/adgangsadresser/0a3f5099-4997-32b8-e044-0003ba298018",
                "id": "0a3f5099-4997-32b8-e044-0003ba298018",
                "adressebetegnelse": "Knudsgade 15, 9700 Brønderslev",
                "koordinater": [
                  9.95040217,
                  57.27462601
                ]
              }
            },
            "kommune": {
              "href": "https://api.dataforsyningen.dk/kommuner/0810",
              "kode": "0810",
              "navn": "Brønderslev"
            },
            "region": {
              "href": "https://api.dataforsyningen.dk/regioner/1081",
              "kode": "1081",
              "navn": "Region Nordjylland"
            },
            "opstillingskreds": {
              "href": "https://api.dataforsyningen.dk/opstillingskredse/86",
              "nummer": "86",
              "navn": "Brønderslev"
            },
            "storkreds": {
              "href": "https://api.dataforsyningen.dk/storkredse/10",
              "nummer": "10",
              "navn": "Nordjylland"
            },
            "valglandsdel": {
              "href": "https://api.dataforsyningen.dk/valglandsdele/C",
              "bogstav": "C",
              "navn": "Midtjylland-Nordjylland"
            }
          }
        }, {
          "tekst": "Ø. Brønderslev",
          "afstemningsområde": {
            "ændret": "2025-09-11T21:02:14.519Z",
            "geo_version": 7,
            "geo_ændret": "2025-09-11T21:02:14.519Z",
            "bbox": [
              9.92807169,
              57.18591894,
              10.08171114,
              57.27701338
            ],
            "visueltcenter": [
              10.00303568,
  [...]
