http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/kommuner/autocomplete?q=br%C3%B8nder
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 5e663067-f73f-4d97-a630-67f73fdd9782
      x-gravitee-request-id: 5e663067-f73f-4d97-a630-67f73fdd9782
    body:
      string: |-
        [
        {
          "tekst": "0810 Brønderslev",
          "kommune": {
            "ændret": "2024-01-19T22:03:58.050Z",
            "geo_version": 8,
            "geo_ændret": "2024-01-19T22:03:58.050Z",
            "bbox": [
              9.73560852,
              57.06944718,
              10.44883359,
              57.34353124
            ],
            "visueltcenter": [
              10.27821906,
              57.17989923
            ],
            "href": "https://api.dataforsyningen.dk/kommuner/0810",
            "dagi_id": "389199",
            "kode": "0810",
            "navn": "Brønderslev",
            "udenforkommuneinddeling": false,
            "regionskode": "1081",
            "region": {
              "href": "https://api.dataforsyningen.dk/regioner/1081",
              "kode": "1081",
              "navn": "Region Nordjylland"
            }
          }
        }
        ]
  recorded_at: 2025-11-17 08:21:00
recorded_with: VCR-vcr/2.0.0
