http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/afstemningsomraader/autocomplete?q=R%C3%B8ddi
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 078d4c5a-177f-4c1b-8d4c-5a177fcc1b8d
      x-gravitee-request-id: 078d4c5a-177f-4c1b-8d4c-5a177fcc1b8d
    body:
      string: |-
        [
        {
          "tekst": "Rødding",
          "afstemningsområde": {
            "ændret": "2024-04-05T21:01:58.999Z",
            "geo_version": 6,
            "geo_ændret": "2024-04-05T21:01:58.999Z",
            "bbox": [
              9.39015327,
              56.46244568,
              9.7351047,
              56.59146908
            ],
            "visueltcenter": [
              9.49649518,
              56.52121572
            ],
            "href": "https://api.dataforsyningen.dk/afstemningsomraader/791/14",
            "dagi_id": "709100",
            "nummer": "14",
            "navn": "Rødding",
            "afstemningssted": {
              "navn": "Røddinghus Kultur- og Fritidscenter",
              "adgangsadresse": {
                "href": "https://api.dataforsyningen.dk/adgangsadresser/5d4567e8-0742-4a33-8a63-8e5d9db99126",
                "id": "5d4567e8-0742-4a33-8a63-8e5d9db99126",
                "adressebetegnelse": "Meldgårdsvej 26, Rødding, 8830 Tjele",
                "koordinater": [
                  9.51348244,
                  56.49928552
                ]
              }
            },
            "kommune": {
              "href": "https://api.dataforsyningen.dk/kommuner/0791",
              "kode": "0791",
              "navn": "Viborg"
            },
            "region": {
              "href": "https://api.dataforsyningen.dk/regioner/1082",
              "kode": "1082",
              "navn": "Region Midtjylland"
            },
            "opstillingskreds": {
              "href": "https://api.dataforsyningen.dk/opstillingskredse/76",
              "nummer": "76",
              "navn": "Viborg Øst"
            },
            "storkreds": {
              "href": "https://api.dataforsyningen.dk/storkredse/9",
              "nummer": "9",
              "navn": "Vestjylland"
            },
            "valglandsdel": {
              "href": "https://api.dataforsyningen.dk/valglandsdele/C",
              "bogstav": "C",
              "navn": "Midtjylland-Nordjylland"
            }
          }
        }, {
          "tekst": "Rødding",
          "afstemningsområde": {
            "ændret": "2025-09-04T21:02:04.819Z",
            "geo_version": 6,
            "geo_ændret": "2025-09-04T21:02:04.819Z",
            "bbox": [
              9.00513178,
              55.31078106,
              9.12548902,
              55.41177849
            ],
            "visueltcenter": [
              9.0714978,
            [...]
