http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/kommuner?struktur=flad
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 85f781f5-2f48-48b6-b781-f52f4848b685
      x-gravitee-request-id: 85f781f5-2f48-48b6-b781-f52f4848b685
    body:
      string: |-
        [
        {
          "dagi_id": "389103",
          "kode": "0101",
          "navn": "København",
          "regionskode": "1084",
          "udenforkommuneinddeling": false,
          "regionsnavn": "Region Hovedstaden",
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 21,
          "bbox_xmin": 12.44441133,
          "bbox_ymin": 55.60647026,
          "bbox_xmax": 12.73658638,
          "bbox_ymax": 55.73587822,
          "visueltcenter_x": 12.49390862,
          "visueltcenter_y": 55.7040906
        }, {
          "dagi_id": "389104",
          "kode": "0147",
          "navn": "Frederiksberg",
          "regionskode": "1084",
          "udenforkommuneinddeling": false,
          "regionsnavn": "Region Hovedstaden",
          "ændret": "2024-01-16T22:03:35.709Z",
          "geo_ændret": "2024-01-16T22:03:35.709Z",
          "geo_version": 7,
          "bbox_xmin": 12.49027876,
          "bbox_ymin": 55.66556585,
          "bbox_xmax": 12.55873518,
          "bbox_ymax": [...]
