http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/politikredse?struktur=flad
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 983a926d-1b19-43fd-ba92-6d1b1903fd63
      x-gravitee-request-id: 983a926d-1b19-43fd-ba92-6d1b1903fd63
    body:
      string: |-
        [
        {
          "dagi_id": "403210",
          "kode": "1460",
          "navn": "Nordjyllands Politi",
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 31,
          "bbox_xmin": 9.02950728,
          "bbox_ymin": 56.53454667,
          "bbox_xmax": 11.22599137,
          "bbox_ymax": 57.76284264,
          "visueltcenter_x": 10.11281992,
          "visueltcenter_y": 57.30715466
        }, {
          "dagi_id": "403214",
          "kode": "1461",
          "navn": "Østjyllands Politi",
          "ændret": "2025-02-11T22:03:01.550Z",
          "geo_ændret": "2025-02-11T22:03:01.550Z",
          "geo_version": 23,
          "bbox_xmin": 9.65149577,
          "bbox_ymin": 55.74769587,
          "bbox_xmax": 11.65848576,
          "bbox_ymax": 56.76423281,
          "visueltcenter_x": 10.65638132,
          "visueltcenter_y": 56.38459184
        }, {
         [...]
