http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/regioner?cache=no-cache
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: f05076aa-bee7-4818-9076-aabee7281817
      x-gravitee-request-id: f05076aa-bee7-4818-9076-aabee7281817
    body:
      string: |-
        [
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 32,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            8.18951662,
            56.53454667,
            11.22599137,
            57.76025478
          ],
          "visueltcenter": [
            10.11282907,
            57.30715928
          ],
          "dagi_id": "389098",
          "kode": "1081",
          "navn": "Region Nordjylland",
          "nuts2": "DK05",
          "href": "https://api.dataforsyningen.dk/regioner/1081"
        }, {
          "ændret": "2025-07-11T21:05:02.274Z",
          "geo_version": 47,
          "geo_ændret": "2025-07-11T21:05:02.274Z",
          "bbox": [
            8.07887623,
            55.64437916,
            11.66419061,
            56.84325702
          ],
          "visueltcenter": [
            9.5984783,
            56.23405681
          ],
          "dagi_id": "389101",
          "kode": "1082",
          "navn": "Region Midtjyl[...]
