http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/regioner?struktur=flad
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: c9974b9b-0c7a-44d2-974b-9b0c7ac4d26a
      x-gravitee-request-id: c9974b9b-0c7a-44d2-974b-9b0c7ac4d26a
    body:
      string: |-
        [
        {
          "dagi_id": "389098",
          "kode": "1081",
          "navn": "Region Nordjylland",
          "nuts2": "DK05",
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 32,
          "bbox_xmin": 8.18951662,
          "bbox_ymin": 56.53454667,
          "bbox_xmax": 11.22599137,
          "bbox_ymax": 57.76025478,
          "visueltcenter_x": 10.11282907,
          "visueltcenter_y": 57.30715928
        }, {
          "dagi_id": "389101",
          "kode": "1082",
          "navn": "Region Midtjylland",
          "nuts2": "DK04",
          "ændret": "2025-07-11T21:05:02.274Z",
          "geo_ændret": "2025-07-11T21:05:02.274Z",
          "geo_version": 47,
          "bbox_xmin": 8.07887623,
          "bbox_ymin": 55.64437916,
          "bbox_xmax": 11.66419061,
          "bbox_ymax": 56.84325702,
          "visueltcenter_x": 9.5984783,
          "visueltcenter_y": 56.234056[...]
