http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/afstemningsomraader/reverse?x=10.21471&y=56.15354
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 6aecc9e2-750e-4766-acc9-e2750e5766d9
      x-gravitee-request-id: 6aecc9e2-750e-4766-acc9-e2750e5766d9
    body:
      string: |-
        {
          "ændret": "2025-08-29T21:03:18.900Z",
          "geo_version": 8,
          "geo_ændret": "2025-07-08T21:03:05.192Z",
          "bbox": [
            10.20300286,
            56.14667099,
            10.22323179,
            56.1707942
          ],
          "visueltcenter": [
            10.21425194,
            56.16615378
          ],
          "href": "https://api.dataforsyningen.dk/afstemningsomraader/751/10",
          "dagi_id": "708544",
          "nummer": "10",
          "navn": "DOKK1, Aarhus C",
          "afstemningssted": {
            "navn": "DOKK1",
            "adgangsadresse": {
              "href": "https://api.dataforsyningen.dk/adgangsadresser/c1496b42-51c0-48ed-afc7-b340ac97ae13",
              "id": "c1496b42-51c0-48ed-afc7-b340ac97ae13",
              "adressebetegnelse": "Hack Kampmanns Plads 2, 8000 Aarhus C",
              "koordinater": [
                10.21377573,
                56.15343598
              ]
            }
          },
          "kommune": {
            "href": "https://api.dataforsyningen.dk/kommuner/0751",
            "kode": "0751",
            "navn": "Aarhus"
          },
          "region": {
            "href": "https://api.dataforsyningen.dk/regioner/1082",
            "kode": "1082",
            "navn": "Region Midtjylland"
          },
          "opstillingskreds": {
            "href": "https://api.dataforsyningen.dk/opstillingskredse/65",
            "nummer": "65",
            "navn": "Aarhus Øst"
          },
          "storkreds": {
            "href": "https://api.dataforsyningen.dk/storkredse/8",
            "nummer": "8",
            "navn": "Østjylland"
          },
          "valglandsdel": {
            "href": "https://api.dataforsyningen.dk/valglandsdele/C",
            "bogstav": "C",
            "navn": "Midtjylland-Nordjylland"
          }
        }
  recorded_at: 2025-11-17 08:21:26
recorded_with: VCR-vcr/2.0.0
