http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/politikredse/reverse?x=11.55341&y=55.32309
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: d3fa5529-3f0b-4a1c-ba55-293f0b1a1c8e
      x-gravitee-request-id: d3fa5529-3f0b-4a1c-ba55-293f0b1a1c8e
    body:
      string: |-
        {
          "ændret": "2025-05-14T21:02:41.891Z",
          "geo_version": 19,
          "geo_ændret": "2025-05-14T21:02:41.891Z",
          "bbox": [
            10.90936714,
            54.54440636,
            12.60710481,
            55.60197214
          ],
          "visueltcenter": [
            11.49387303,
            55.35123766
          ],
          "dagi_id": "403211",
          "kode": "1466",
          "navn": "Sydsjællands og Lolland-Falsters Politi",
          "href": "https://api.dataforsyningen.dk/politikredse/1466"
        }
  recorded_at: 2025-11-17 08:21:28
recorded_with: VCR-vcr/2.0.0
