http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/regioner/reverse?x=12.58515&y=55.68324
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 0d4ca78c-4c05-418d-8ca7-8c4c05f18d7d
      x-gravitee-request-id: 0d4ca78c-4c05-418d-8ca7-8c4c05f18d7d
    body:
      string: |-
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 31,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            11.60211644,
            54.98354657,
            15.31831444,
            56.20520188
          ],
          "visueltcenter": [
            12.27937393,
            55.97238879
          ],
          "dagi_id": "389099",
          "kode": "1084",
          "navn": "Region Hovedstaden",
          "nuts2": "DK01",
          "href": "https://api.dataforsyningen.dk/regioner/1084"
        }
  recorded_at: 2025-11-17 08:21:25
recorded_with: VCR-vcr/2.0.0
