http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/regioner/reverse?x=9.284236&y=56.96055
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: c31d67f6-693d-4c31-9d67-f6693d2c31b9
      x-gravitee-request-id: c31d67f6-693d-4c31-9d67-f6693d2c31b9
    body:
      string: |-
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 32,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            8.18951662,
            56.53454667,
            11.22599137,
            57.76025478
          ],
          "visueltcenter": [
            10.11282907,
            57.30715928
          ],
          "dagi_id": "389098",
          "kode": "1081",
          "navn": "Region Nordjylland",
          "nuts2": "DK05",
          "href": "https://api.dataforsyningen.dk/regioner/1081"
        }
  recorded_at: 2025-11-17 08:21:27
recorded_with: VCR-vcr/2.0.0
