http_interactions:
- request:
    method: GET
    uri: https://api.dataforsyningen.dk/afstemningsomraader/reverse?x=12.58515&y=55.68324
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: 6ec4c28309a4772ef3b30a3d18dfb1085706dc5fe885acfd3fe8116b9cffb2af
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 6d0c1070-d9e2-4e86-8c10-70d9e25e86c3
      x-gravitee-request-id: 6d0c1070-d9e2-4e86-8c10-70d9e25e86c3
    body:
      string: |-
        {
          "ændret": "2025-08-21T21:04:39.524Z",
          "geo_version": 1,
          "geo_ændret": "2025-08-21T21:04:39.524Z",
          "bbox": [
            12.56174278,
            55.67188281,
            12.59515507,
            55.69226454
          ],
          "visueltcenter": [
            12.56971453,
            55.68836538
          ],
          "href": "https://api.dataforsyningen.dk/afstemningsomraader/101/64",
          "dagi_id": "749404",
          "nummer": "64",
          "navn": "3. Sølvgade",
          "afstemningssted": {
            "navn": "Sølvgades Skole",
            "adgangsadresse": {
              "href": "https://api.dataforsyningen.dk/adgangsadresser/0a3f507b-097b-32b8-e044-0003ba298018",
              "id": "0a3f507b-097b-32b8-e044-0003ba298018",
              "adressebetegnelse": "Sølvgade 16, 1307 København K",
              "koordinater": [
                12.58324185,
                55.68649336
              ]
            }
          },
          "kommune": {
            "href": "https://api.dataforsyningen.dk/kommuner/0101",
            "kode": "0101",
            "navn": "København"
          },
          "region": {
            "href": "https://api.dataforsyningen.dk/regioner/1084",
            "kode": "1084",
            "navn": "Region Hovedstaden"
          },
          "opstillingskreds": {
            "href": "https://api.dataforsyningen.dk/opstillingskredse/3",
            "nummer": "3",
            "navn": "Indre By"
          },
          "storkreds": {
            "href": "https://api.dataforsyningen.dk/storkredse/1",
            "nummer": "1",
            "navn": "København"
          },
          "valglandsdel": {
            "href": "https://api.dataforsyningen.dk/valglandsdele/A",
            "bogstav": "A",
            "navn": "Hovedstaden"
          }
        }
  recorded_at: 2025-11-17 08:20:52
recorded_with: VCR-vcr/2.0.0
