useDynLib(HKprocess, .registration = TRUE)

export("acfHKp",
    "inferf", "inferfmetrop", "inferH",
     "inferHmetrop", "infermsmetrop", "infermsfmetrop",
     "lssd","lsv","ltza", "ltzb", "ltzc", "ltzd",
     "MannKendallLTP",
     "mlear1", "mleHK")

# Import all packages listed as Imports or Depends
importFrom("MCMCpack", "MCMCmetrop1R", "rinvgamma")
importFrom("gtools", "running")
importFrom("stats", "median", "optimize",
    "pnorm", "qnorm", "rnorm", "runif",
    "sd", "setNames")