exportPattern("^[[:alpha:]]+")
#import(ars,"ars")
import(GIGrvg,"GIGrvg")
importFrom(utils,packageVersion)
importFrom("stats","na.omit", "rbinom", "uniroot", "optim", "rgamma", "sd", "quantile", "median", "runif", "rnorm", "pnorm", "qnorm", "optimize", "ks.test", "cov")
