/* Boxes */
.box.box-primary {
  border-top-color: $primary;
}

.box.box-success {
  border-top-color: $success;
}

.box.box-warning {
  border-top-color: $warning;
}

.box.box-danger {
  border-top-color: $danger;
}

.box.box-info {
  border-top-color: $info;
}

/* tabBoxes */
.nav-tabs-custom > .nav-tabs > li.active {
  border-top: 5px solid;
  border-radius: 3px;
  border-top-color: $results-color;
}

.nav-tabs-custom {
  box-shadow: 0 lightgrey;
}
