/* File selector widget */
.btn.btn-file {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-style: solid none solid solid;
}

.progress {
  border-radius: 3px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.progress-bar {
  font-size: 15px;
  line-height: 25px;
  background-color: $options_color;
}


/* Default Buttons */
.btn-danger {
  background-color: $primary;
  border-color: $primary;
  height: 55px;
  width: 300px;
  border-radius: 0;
  position: relative;
  font-size: 18px
}

.btn-primary {
  background-color: darkgrey;
  border-color: darkgrey;
  color: white;
  height: 55px;
  width: 300px;
  border-radius: 0;
  position: relative;
  font-size: 18px
}

.btn-primary:hover {
  background-color: $primary;
  border-color: $primary;
  color: white;
  border-color: $primary
}

.btn-success {
  font-size: 18px;
  font-family: inherit;
  padding: 5px 12px;
  height: 55px;
  min-width: 21.85%;
  margin: 0px 10px 14px 20px;
  text-align: left;
  color: white;
  background: #727477;
  text-indent: 4px;
  vertical-align: middle;
  border-radius: 0px;
  border-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.btn-success:hover {
  background-color: $success;
  font-size: 18px;
  font-family: inherit;
  padding: 5px 12px;
  height: 55px;
  min-width: 21.85%;
  margin: 0px 10px 14px 20px;
  text-align: left;
  color: white;
  text-indent: 4px;
  vertical-align: middle;
  border-radius: 0px;
  border-color: transparent;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out
}

.btn-warning,
.btn-warning:hover {
  font-size: 18px;
  font-family: inherit;
  padding: 5px 12px;
  height: 55px;
  min-width: 21.85%;
  margin: 0px 10px 14px 20px;
  text-align: left;
  color: white;
  background: $warning;
  text-indent: 4px;
  vertical-align: middle;
  border-radius: 0px;
  border-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}


/* Home Button */
.home-button {
  color: $white;
  background-color: $home_color;
  border-color: $home_color_border;
}

.home-button:focus {
  color: $white;
  background-color: $home_color;
  border-color: $home_color_border;
}

.home-button:hover {
  color: $white;
  background-color: $home_color_hover;
  border-color: $home_color_border;
}

/* Options Button */
.options-button {
  color: $white;
  background-color: $options_color;
  border-color: $options_color_border;
}

.options-button:focus {
  color: $white;
  background-color: $options_color;
  border-color: $options_color_border;
}

.options-button:hover {
  color: $white;
  background-color: $options_color_hover;
  border-color: $options_color_border;
}

/* Inputs Button */
.inputs-button {
  color: $white;
  background-color: $inputs_color;
  border-color: $inputs_color_border;
}

.inputs-button:focus {
  color: $white;
  background-color: $inputs_color;
  border-color: $inputs_color_border;
}

.inputs-button:hover {
  color: $white;
  background-color: $inputs_color_hover;
  border-color: $inputs_color_border;
}

/* Results Button */
.results-button {
  color: $white;
  background-color: $results_color;
  border-color: $results_color_border;
}

.results-button:focus {
  color: $white;
  background-color: $results_color;
  border-color: $results_color_border;
}

.results-button:hover {
  color: $white;
  background-color: $results_color_hover;
  border-color: $results_color_border;
}

/* Export Button */
.export-button {
  color: $white;
  background-color: $export_color;
  border-color: $export_color_border;
}

.export-button:focus {
  color: $white;
  background-color: $export_color;
  border-color: $export_color_border;
}

.export-button:hover {
  color: $white;
  background-color: $export_color_hover;
  border-color: $export_color_border;
}
