/* Primary Checkboxes */
.checkbox-primary input[type="checkbox"]:checked+label::before, .checkbox-primary input[type="radio"]:checked+label::before {
  background-color: $primary;
  border-color: $primary;
  border-top-color: rgb(91, 192, 222);
  border-right-color: rgb(91, 192, 222);
  border-bottom-color: rgb(91, 192, 222);
  border-left-color: rgb(91, 192, 222);
}

/* Info Checkboxes */
.checkbox-info input[type="checkbox"]:checked+label::before, .checkbox-info input[type="radio"]:checked+label::before {
  background-color: $info;
  border-color: $info;
  border-top-color: rgb(91, 192, 222);
  border-right-color: rgb(91, 192, 222);
  border-bottom-color: rgb(91, 192, 222);
  border-left-color: rgb(91, 192, 222);
}

/* Success Checkboxes */
.checkbox-success input[type="checkbox"]:checked+label::before, .checkbox-success input[type="radio"]:checked+label::before {
  background-color: $success;
  border-color: $success;
  border-top-color: rgb(91, 192, 222);
  border-right-color: rgb(91, 192, 222);
  border-bottom-color: rgb(91, 192, 222);
  border-left-color: rgb(91, 192, 222);
}

/* Warning Checkboxes */
.checkbox-warning input[type="checkbox"]:checked+label::before, .checkbox-warning input[type="radio"]:checked+label::before {
  background-color: $warning;
  border-color: $warning;
  border-top-color: rgb(91, 192, 222);
  border-right-color: rgb(91, 192, 222);
  border-bottom-color: rgb(91, 192, 222);
  border-left-color: rgb(91, 192, 222);
}

/* Danger Checkboxes */
.checkbox-danger input[type="checkbox"]:checked+label::before, .checkbox-danger input[type="radio"]:checked+label::before {
  background-color: $danger;
  border-color: $danger;
  border-top-color: rgb(91, 192, 222);
  border-right-color: rgb(91, 192, 222);
  border-bottom-color: rgb(91, 192, 222);
  border-left-color: rgb(91, 192, 222);
}
