// Header
$main_color: #2EC27E;
$accent_color: #311B92;

// Home colors
$home_color: #6C63FF;
$home_color_border: #514bc0;
$home_color_hover: #8b84ff;

// Options colors
$options_color: #2B7C9A;
$options_color_border: #26618a;
$options_color_hover: #27a1d0;

// Inputs colors
$inputs_color: #5B5EA8;
$inputs_color_border: #4c44ac;
$inputs_color_hover: #7275ce;

// Results colors
$results_color: #2db77d;
$results_color_border: #13794a;
$results_color_hover: #37e495;

// Export colors
$export_color: #F6A945;
$export_color_border: #eb8a0b;
$export_color_hover: #ffba63;

// Main bootstrap colors
$primary: $inputs_color;
$info: $options_color;
$success: $results_color;
$warning: $export_color;
$danger: $export_color;

// Additional colors
$white: #ffffff;
