/* Custom modal help buttons */
.modal-help-button {
  background: transparent;
  color: #444;
  position: absolute;
  padding: 4px 10px;
  border: 0;
  top: 5px;
}

.modal-help-button:hover {
  background: transparent;
  color: #606c84;
}

.modal-help-button:focus {
  background: transparent;
}

.box-modal-help-button {
  right: 40px;
}

.tabbox-modal-help-button {
  right: 5px;
}

/* Improve rhandsontable overflow */
.hot-improved {
  height: auto;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

/* Custom Widget Classes */
.side-widget {
  display: inline-block;
  vertical-align: top;
}

.side-widget-tall {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -21px;
}

.side-widget-download {
  display: inline-block;
  vertical-align: top;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.side-widget-format {
  display: inline-block;
  vertical-align: top;
  margin-bottom: -21px;
  margin-left: -5px;

  .selectize-input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.widget-sep {
  display: inline-block;
  vertical-align: top;
  width: 20px;
}

.small-action-button {
  height: 25px;
  line-height: 0;
  padding: 0 8px 0 8px;
}

/* Custom cols for cards/boxes with innerColumn() function */
.col-inner-4,
.col-inner-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

@media (min-width:900px) {
  .col-inner-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-inner-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-inner-textinput-left {
  padding: 0 !important;
}

.col-inner-textinput-right {
  padding: 0 !important;
}

@media (min-width:767px) {
  .col-inner-textinput-left {
    padding: 0 !important;
    padding-right: 5px !important;
  }

  .col-inner-textinput-right {
    padding: 0 !important;
    padding-left: 5px !important;
  }
}

/* Custom tabItem() container */

.tabitem-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

/* Sidebar */
.sticky-footer {
  position: fixed;
  bottom: 0;
  padding-left: 18px;
  z-index: 1000;
}
