/* Fix Widgets */
.box {
  border-top: 5px solid;
}

.awesome-checkbox label {
  font-weight: 400;
}

.awesome-checkbox label::after {
  font-weight: 700;
}

.btn-box-tool,
.open .btn-box-tool {
  color: #444;
}
