.info-box {
  min-height: 55px;
  float: center;
  box-shadow: 5px 5px 5px lightgrey;
  border-bottom: 0px
}

.info-box-icon.bg-black {
  height: 55px
}

.bg-black {
  background-color: #727477 !important;
  height: 55px;
  line-height: 55px
}

.text-success {
  color: $success;
  font-size: large
}

.shiny-output-error {
  visibility: hidden
}

.shiny-output-error:before {
  visibility: hidden
}
