/* Modals */
.modal-dialog {
  max-width: 1000px;
  border-radius: 5px;
  border: 2px solid white
}

.modal-body {
  max-height: 700px;
  align-content: center;
  border: 2px solid white;
  border-radius: 5px
}

.modal-sm {
  max-width: 1200px;
  align-content: center;
  border-radius: 5px;
  border: 2px solid white
}
