/* Navbar */
.skin-purple .main-header .navbar {
  background-color: $main_color
}

.skin-purple .main-header .navbar .nav > li > a {
  color: $white;
}

.skin-purple .main-header .navbar .nav > li > a:hover {
  background: $white;
  color: $main_color
}

.skin-purple .main-header .navbar .sidebar-toggle {
  color: $white;
}

.skin-purple .main-header .navbar .sidebar-toggle:hover {
  color: $main_color;
  background: $white;
}

.skin-purple .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-purple .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid $main_color;
  border-right-width: 0
}

.main-header .logo img {
  padding-bottom: 5px
}

.skin-purple .main-header > .logo {
  background-color: $main_color;
  color: $white;
  border-bottom: 0 solid transparent;
  border-right: 1px solid $main_color
}

.skin-purple .main-header > .logo:hover {
  background-color: $main_color
}

.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 400px;
  padding: 0;
  margin: 10px;
  top: 100%;
  background-color: #fefefee6;
  box-shadow: 10px 10px 10px darkgrey
}

.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: $main_color;
  padding: 7px 10px;
  border-bottom: 1px solid $main_color;
  color: $white;
  font-size: 14px
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  max-height: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #000000;
  overflow: hidden;
  white-space: normal
}
