/* Primary Radiobuttons */
.radio-primary input[type="radio"]:checked+label::before {
  border-color: $primary;
}

.radio-primary input[type="radio"]:checked+label::after {
  background-color: $primary;
}

.radio-primary input[type="radio"]+label::after {
  background-color: $primary;
}

/* Info Radiobuttons */
.radio-info input[type="radio"]:checked+label::before {
  border-color: $info;
}

.radio-info input[type="radio"]:checked+label::after {
  background-color: $info;
}

.radio-info input[type="radio"]+label::after {
  background-color: $info;
}

/* Success Radiobuttons */
.radio-success input[type="radio"]:checked+label::before {
  border-color: $success;
}

.radio-success input[type="radio"]:checked+label::after {
  background-color: $success;
}

.radio-success input[type="radio"]+label::after {
  background-color: $success;
}

/* Warning Radiobuttons */
.radio-warning input[type="radio"]:checked+label::before {
  border-color: $warning;
}

.radio-warning input[type="radio"]:checked+label::after {
  background-color: $warning;
}

.radio-warning input[type="radio"]+label::after {
  background-color: $warning;
}

/* Danger Radiobuttons */
.radio-danger input[type="radio"]:checked+label::before {
  border-color: $danger;
}

.radio-danger input[type="radio"]:checked+label::after {
  background-color: $danger;
}

.radio-danger input[type="radio"]+label::after {
  background-color: $danger;
}
