section.sidebar .shiny-bound-input.action-button,
section.sidebar .shiny-bound-input.action-link {
  margin: auto;
  display: block
}

.sidebar {
  height: 90vh;
  overflow-y: auto
}

.skin-purple .left-side,
.skin-purple .main-sidebar,
.skin-purple .wrapper {
  background-color: #222632
}

.skin-purple .sidebar-menu > li.active > a,
.skin-purple .sidebar-menu > li:hover > a {
  color: #fff;
  background: #222632;
  border-left-color: #2EC27E
}

.skin-purple .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2F3445;
  padding-bottom: 2px
}

.skin-purple .sidebar a {
  color: #ffffff
}

.skin-purple .treeview-menu > li > a {
  color: white
}

.skin-purple .treeview-menu > li:hover > a {
  color: white
}

/*.sidebar-menu .treeview-menu>li.active {
  margin: 0;
  border-left: 3px solid;
  border-left-color: #2EC27E;
}*/

.sidebar-menu .treeview-menu>.active .fa {
  color: $main_color;
}
