# functions
export( resid_index, 
        resid_mu, 
        resid_xvar, 
        resid_plots,
        resid_median,  
        resid_param,  
        resid_quantile,
        resid_density,
        resid_wp, 
        resid_wp_wrap,
        resid_qqplot, add_resid_qqplot,
        resid_ecdf, 
        resid_dtop,
        resid_symmetry,
        model_wp,  
        model_density,
        model_GAIC_lollipop,
        model_GAIC, 
        model_qqplot,
        model_pca, 
        model_wp_wrap,
        model_devianceIncr_diff,
        model_centiles,
        model_mom_bucket, 
        fitted_pdf, 
        fitted_pdf_data, 
        fitted_cdf, 
        fitted_cdf_data, 
        fitted_terms,
        fitted_leverage,
        fitted_centiles, 
        fitted_centiles_legend,
        fitted_devianceIncr,
        family_pdf, 
        family_cdf, 
        predict_pdf,
        predict_cdf,
        y_ecdf, 
        y_hist, 
        y_acf, 
        y_pacf, 
        y_dots,
        y_symmetry, 
        moment_gray_both, 
        moment_colour_half, 
        moment_colour_both,
        moment_gray_half,
        moment_bucket,
        moment_bucket_wrap,
        centile_colour_both, 
        centile_gray_both, 
        centile_colour_half,
        centile_bucket, 
        centile_bucket_wrap,  
        resp_quantile, 
        resp_param, 
        resp_mu,
        pe_param, 
        pe_1_param, 
        pe_2_param, 
        pe_param_grid,  
        pe_pdf,
        pe_pdf_grid,
        boot_coef, boot_coef_one,
        histSmo_plot,
        pcr_coef_path,# for pcr model
        pcr_path, # for gamlss fitted model 
        #pe_moment, 
        #pe_pdf, pe_quantile_grid
        quantile_gamlss, # should be called fitted_quantile() or get_quantile()
        fit_PB, # 
        ACE, 
        mcor,
        prof_term
)        
################################################################################
# ACE object
S3method(plot, ACE)
S3method(print, ACE)
################################################################################
# fit_PB object
S3method(print, Psplines)
S3method(coef, Psplines)
S3method(deviance, Psplines)
S3method(fitted, Psplines)
S3method(predict, Psplines)
S3method(residuals, Psplines)
################################################################################
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "str")
importFrom("utils", "head")
importFrom("utils", "tail")
################################################################################
importFrom("grDevices", "hcl.colors", "colors")
importFrom("graphics", "lines", "par", "points")
importFrom("graphics", "abline")
 importFrom("graphics", "segments")
################################################################################
importFrom("mgcv", "gam")
################################################################################
import(gamlss)
import(gamlss.dist)
import(gamlss.foreach)
import(ggridges)
import(ggplot2)
################################################################################
importFrom("grid", "grid.layout", "grid.newpage", "pushViewport", "viewport")
importFrom("stats", "model.matrix")
################################################################################
importFrom("gamlss.inf", "gen.Zadj", "gen.Inf0to1")
################################################################################
importFrom("grDevices", "devAskNewPage")
importFrom("grDevices", "gray")
################################################################################
importFrom("methods", "is")
importFrom("ellipse", "ellipse")
################################################################################
importFrom("stats", "quantile", "prcomp", "acf", "lag", "pacf",  "formula")
importFrom("stats", "residuals", "model.frame", "naresid", "resid")
importFrom("stats", "hatvalues", "vcov", "AIC")
importFrom("stats", "terms", "hat", "pchisq")
importFrom("stats", "loess", "sd", "uniroot")
importFrom("stats", "as.formula", "deviance")
importFrom("stats", "predict", "splinefun", "approxfun", "cor", "cov", "na.omit", "qchisq")
importFrom("stats", "pnorm", "qnorm", "dnorm", "ppoints", "pbeta", "qbeta", 
            "IQR", "median")
importFrom("stats", "fitted", "lm")
importFrom("stats", "runif")
importFrom("stats", "density")
importFrom("stats", "get_all_vars")
importFrom("stats", "optimise")
################################################################################
importFrom("foreach", "%dopar%", "foreach", "%do%")
################################################################################
importFrom("graphics", "axis", "contour", "image", "rect")
importFrom("stats", "cmdscale", "ecdf", "family", "lm.wfit")
importFrom("yaImpute", "ann")  
