exportPattern("^[[:alpha:]]+")

## Imports
importFrom("intervals", "Intervals_full", "interval_intersection", "size")
importFrom("limSolve", "Solve")
importFrom("numDeriv", "grad")
importFrom("graphics", "plot")
importFrom("methods", "as")
importFrom("stats", "lm", "model.matrix", "na.omit", "pchisq", 
           "pnorm", "qchisq", "runif")
