useDynLib(pwrFDR, .registration = TRUE)

importFrom("methods", "is")
importFrom("stats", "binomial", "dbinom", "pbinom", "dnorm", "rnorm", "runif", "model.extract", "optimize",
           "pbeta", "pf", "pnorm", "qnorm", "qf", "update", "var")
importFrom("utils", "ls.str")

export(arg.vals, CDF.Pval, CDF.Pval.HA, CDF.Pval.ua.eq.u, CDF.Pval.ar.eq.u, cCDF.Rom, cCDF.ToM,
       cCDF.VoR, cc.ROC, controlFDP, criterion, detail, dists, es.ROC, gentempfilenm, if.na.x,
       if.y.z, if.0.rm, logit, logitInv, nna, pwrFDR, pwrFDR.grid, sd.rtm.Rom, sd.rtm.VoR,
       sd.rtm.ToM, view.presentation, "%,%", "%over%")

S3method(print, pwr)
S3method(print, cdf)
S3method(`+`, pwr)
S3method(`-`, pwr)
S3method(`*`, pwr)
S3method(`/`, pwr)
S3method(`^`, pwr)
S3method(exp, pwr)
S3method(log, pwr)
S3method(logit, default)
S3method(logitInv, default)
S3method(logit, pwr)
S3method(logitInv, pwr)
