exportPattern( "." )
importFrom("GEOquery", "getGEO")
importFrom("geneExpressionFromGEO", "dec_two")
importFrom("geneExpressionFromGEO", "readUrl")
importFrom("xml2", "read_html")
importFrom("magrittr","%>%")
importFrom("jetset","jmap")
importFrom("diffcoexp","coexpr")
importFrom("annotate","readGEOAnn")
importFrom("utils","read.csv")
importFrom("Biobase","exprs")
importFrom("limma","removeBatchEffect")
importFrom("stats", "sd")
