@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Raleway&display=swap');

/*hole document*/
.title {
  text-align: right;
  font-family: Roboto;
  font-weight: normal;
  font-size: 40px;
  color: #787878;
  border-bottom: none;
}

.author, .date {
  font-family: Montserrat;
  font-weight: lighter;
}

.author {
  text-align: right;
  font-size: 12px;
  border-bottom: none;
}

.date{
  text-align: right;
  font-size: 10px;
  border-bottom: 2px solid #f7f7f7;
}

body {
  margin: 1em auto;
  max-width: 700px;
  overflow: visible;
  padding: 4em;

  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
}

p {
  margin: 0.5em 0;
}

blockquote {
  background-color: #f6f6f6;
  padding: 0.25em 0.75em;
}

hr {
  border-style: solid;
  border: none;
  border-top: 1px solid #777;
  margin: 28px 0;
}

dl {
  margin-left: 0;
}

dl dd {
  margin-bottom: 13px;
  margin-left: 13px;
}

dl dt {
  font-weight: bold;
}

ul {
  margin-top: 0;
}

ul li {
  list-style: circle outside;
}

ul ul {
  margin-bottom: 0;
}

pre, code {
  background-color: #f7f7f7;
  border-radius: 3px;
  color: #333;
  white-space: pre-wrap;
}

pre {
  border-radius: 3px;
  margin: 5px 0px 10px 0px;
  padding: 10px;
}

pre:not([class]) {
  background-color: #f7f7f7;
}

code {
  font-family: 'Cutive Mono';
  font-size:1em
}

p > code, li > code {
  padding: 2px 0px;
}

.figure {
  text-align: center;
}

img {
  background-color: #FFFFFF;
  padding: 2px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  margin: 0 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: 35px;
  line-height: 40px;
}

h2 {
  border-bottom: 4px solid #f7f7f7;
  padding-top: 10px;
  padding-bottom: 2px;
  font-size: 145%;
}

h3 {
  border-bottom: 2px solid #f7f7f7;
  padding-top: 10px;
  font-size: 120%;
}

h4 {
  border-bottom: 1px solid #f7f7f7;
  margin-left: 8px;
  font-size: 105%;
}

h5, h6 {
  border-bottom: 1px solid #ccc;
  font-size: 18px;
}

a {
  color: #0033dd;
  text-decoration: none;
}

a:hover {
  color: #6666ff;
}

a:visited {
  color: #800080;
}

a:visited:hover {
  color: #BB00BB;
}

a[href^="http:"] {
  text-decoration: underline;
}

a[href^="https:"] {
  text-decoration: underline;
}

code > span.kw {
  color: #555;
  font-weight: bold;
}

code > span.dt {
  color: #902000;
}

code > span.dv {
  color: #40a070;
}

code > span.bn {
  color: #d14;
}

code > span.fl {
  color: #d14;
}

code > span.ch {
  color: #d14;
}

code > span.st {
  color: #d14;
}

code > span.co {
  color: #888888;
  font-style: italic;
}

code > span.ot {
  color: #007020;
}

code > span.al {
  color: #ff0000;
  font-weight: bold;
}

code > span.fu {
  color: #900;
  font-weight: bold;
}

code > span.er {
  color: #a61717;
  background-color: #e3d2d2;
}

