exportPattern("^[[:alpha:]]+")
importFrom("stats", "sd", "setNames", "qt")
importFrom("utils", "modifyList")
importFrom("dplyr", "%>%", "vars", "mutate_at", "all_of")
importFrom("broom", "tidy")
importFrom("ez", "ezANOVA")
