# Default NAMESPACE created by R
# Remove the previous line if you edit this file


useDynLib(KODAMA)
useDynLib(KODAMA, .registration = TRUE)

# Import all packages listed as Imports or Depends
#import("stats","Rcpp")
#exportPattern("^[[:alpha:]]+")



useDynLib(KODAMA)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "plot", "points")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("stats",  "prcomp","cmdscale", "as.dist", "dist", "kmeans", "median", "pnorm", "rnorm", "runif", "sd", "var","cor.test")
importFrom("Rtsne", "Rtsne_neighbors")
importFrom("umap", "umap.knn", "umap","umap.defaults")
importFrom("methods", "is")
import("Matrix")
  
S3method(print,tsne.config)
S3method(print,MDS.config)

exportPattern(floyd,as.data.matrix,
              KODAMA.matrix,KODAMA.visualization,
              mcplot,core_cpp,dinisurface,helicoid,spirals,
              swissroll,normalization,scaling,
              transformy,
              pca,tsne.defaults,umap.defaults,MDS.defaults,kabsch)

