#exportPattern("^[[:alpha:]]+")

importFrom("graphics", "abline", "par", "plot")
importFrom("methods", "new")
importFrom("stats", "predict")
importFrom("utils", "tar", "untar")

importFrom(methods,setClass,setMethod)
import(EnsembleBase)
importFrom(parallel, detectCores)
importFrom(glmnet, glmnet)

# epenreg.R
export(epenreg.baselearner.control
  , epenreg.integrator.control
  , epenreg
  , epenreg.save, epenreg.load)

S3method(predict, epenreg)
S3method(print, epenreg)
S3method(summary, epenreg)
S3method(print, summary.epenreg)
S3method(plot, epenreg)

# integrator.R
export(Regression.Sweep.CV.Fit)
S3method(predict, Regression.Sweep.CV.FitObj)
exportClasses(Regression.Sweep.PenReg.Config
  , Regression.Sweep.PenReg.FitObj
  , Regression.Integrator.PenReg.SelMin.Config
  , Regression.Integrator.PenReg.SelMin.FitObj
  , Regression.Sweep.CV.FitObj)
S3method(predict, Regression.Sweep.PenReg.FitObj)
S3method(predict, Regression.Integrator.PenReg.SelMin.FitObj)

