useDynLib(kml, .registration=TRUE)

export(
       ## ClusterLongData
       "legendCol","plotLegend",
       "cld","clusterLongData","getClusters","getBestPostProba","gald","generateArtificialLongData",

       ## parKml
       "parKml","parALGO",

       ## kml, small functions
       "calculTrajFuzzyMean","affectFuzzyIndiv","calculTrajMean","affectIndiv","calculTrajMeanC","affectIndivC",
       ##"resizePartition","calculTrajMeanPoint","varNumAndName","adjustGraph3d

       ## Kml
       "fuzzyKmlSlow","kml","plot","plotTraj","plotMeans",
       # "kmlSlow",

       ## internal only, export for kml3d and (kmlFast) for kmlShape
              "exportPartition",
       "kmlFast","expandStartingCond","cutScreen","fastOrSlow","choiceChangeParam","partPermut","choice"
       )


#exportMethods(
 #             "choice"
  #            )

exportClasses(
              "ParKml",
#              "ParChoice",
#              "Clustering",
              "ClusterLongData"
              )

import(methods,longitudinalData,clv)#,rgl,misc3d)

importFrom("grDevices", "dev.off", "getGraphicsEvent")
importFrom("graphics", "close.screen", "matlines", "matplot", "points","screen", "split.screen")
importFrom("stats", "dist", "na.omit", "rnorm", "runif","weighted.mean")
importFrom("utils", "write.csv2")
importFrom("graphics", "legend")
