exportPattern("^[[:alpha:]]+")
import(isotone)

importFrom("graphics", "abline", "legend", "lines", "mtext", "plot",
"points", "segments")
importFrom("stats", "lm", "quantile")
importFrom("utils", "data")

S3method(print, twostageTE)
S3method(plot, twostageTE)
S3method(summary, twostageTE)                           







