export(bmem,summary.bmem, power.bmem, power.curve, summary.power)
S3method(summary, bmem)
S3method(summary, power)
S3method(plot, bmem)

import(
  MASS, Amelia, snowfall, rsem
)

importFrom("sem", "sem")

importFrom("utils", "capture.output")

importFrom("lavaan", "cfa")
importFrom("lavaan", "lavaanNames")
importFrom("lavaan", "parTable")
importFrom("lavaan", "simulateData")
importFrom("lavaan", "bootstrapLavaan")
importFrom("lavaan", "lavInspect")
importFrom("lavaan", "coef")

importFrom("grDevices", "dev.new")
importFrom("graphics", "hist", "lines", "par", "plot")
importFrom("stats", "complete.cases", "cov", "density",
"deriv", "na.omit", "pchisq", "pnorm", "qchisq", 
"qnorm", "quantile", "sd")


