h1 {
  font-weight: 700;
  font-size: 2em;
  line-height: 2;
  color: #0064CA;
}

h2 {
    font-size: 1.4em;
    line-height: 2;
    color: #107f65;
}

.control-label {
    font-weight: 500;
    line-height: 1.5;
}

div .modebar {
    display:none;
}

body {
    overflow: auto
}

ul {
   list-style: square;
   padding-left: 20px;
}

a {
    color: #0064a4;
}

li {
    padding-top: .5em;
}
