useDynLib(FLLat,.registration=TRUE,.fixes="C_")
importFrom(graphics,axis,frame,image,layout,par,plot)
importFrom(stats,as.dendrogram,as.dist,cor,hclust)
importFrom(gplots,colorpanel)
export(FLLat,FLLat.BIC,FLLat.PVE,FLLat.FDR)
S3method(plot,PVE)
S3method(plot,FDR)
S3method(plot,FLLat)
S3method(predict,FLLat)
