.shiny-input-container:not(.shiny-input-container-inline) {
    width: 100%;
}

.wrapper-tag {
	  text-align: center;
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		background: linear-gradient(to right,#CBB051 10%, #777777 50%, #CBB051 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	
}

.wrapper-tag2 {
	  text-align: center;
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		background: linear-gradient(to right,#ffffff 10%, #777777 50%, #ffffff 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	
}

#ind_nuevos_ui_1-predecirPromidat,#ind_nuevos_ui_1-transback2  {
  display:none;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

/* selectInput Posicionar Horizontal */
.multiple-select-var{
  float: right;
  width: 300px;
  margin-bottom: -3px;
  margin-top: 4px;
  font-size: 14px;
  line-height: 0;
}

/* Color Inputs */
.select-color {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  float: left;
  margin-bottom: -5px;
}

/* radioSwitch */

.radioGroupButtons {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.btn-radiogroup {
    vertical-align: middle;
    display: table-cell;
    position: relative;
    float: none;
}

.btn-radioswitch.active {
    color: #fff;
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.btn-radioswitch {
    color: black;
    background-color: #bbb;
}

.btn-radiogroup>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    float: left;
    width: 100%;
}

.btn.radiobtn .radio-btn-icon-yes {
	opacity: 0;
	display: none;
}
.btn.radiobtn.active .radio-btn-icon-yes {
	opacity: 1;
	display: inline-block;
}

.btn.radiobtn.active .radio-btn-icon-no {
	opacity: 0; display: none;
}
.btn.radiobtn .radio-btn-icon-no {
	opacity: 1; display: inline-block;
}
