
#r_forest_ui_1-rfPrediTable, #KNN_ui_1-knnPrediTable, #SVM_ui_1-svmPrediTable, #regression_trees_ui_1-dtPrediTable,
#boosting_ui_1-boostingPrediTable, #neural_net_ui_1-nnPrediTable, #l_regression_ui_1-rlPrediTable, #penalized_Regression_ui_1rlrPrediTable, 
#l_regression_ui_1-rlCoefTable,#dimension_reduction_ui_1-rdPrediTable{
  min-height: 370px !important;
}

div[id*="indexdf"] table td{
  color: #000000 !important;
  background-color: #e2e2e2;
  font-size:20px;
}

div[id*="indexdf"] table thead tr{
  color: #000000 !important;
  background-color: #CBB051 !important;
  font-size:20px;
}


.header-title {
  position: absolute;
  margin-top: 7px;
  font-size: 24px;
  color: #CBB051;
  left: 45%;
}


.skin-blue .main-sidebar {
    background-color: #777777;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    background-color: #CBB051;
}

.sidebar-menu li ul li a{
    font-size: 12px;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: #CBB051;
}

.skin-blue .main-header .logo {
    background-color: #CBB051;
}

.skin-blue .main-header .logo:hover {
    background-color: #CBB051;
}

.skin-blue .main-header .navbar {
  background-color: #777777;
}

/* Cajas */  
.box {
    background-color: #777777;
    color: #CBB051;
}

.box.box-solid.box-primary {
    border: 1px solid #CBB051;
}

.box.box-solid.box-primary > .box-header{
  background-color: #CBB051;
  color: white;
}

/* Caja de información */  

.bg-promidat{
  background-color: #CBB051;
  color: #fff
}

#plot.recalculating {
    z-index: -2;
}

#plot-container {
  position: relative;
}

.shiny-text-output{
  overflow-y:scroll !important;
  min-height: 360px !important;
  max-height: 400px !important;
}

/* Circulo de carga eloaders */ 
.ring-1 {
    width: 80px !important;
    height: 80px !important;
    border: 7px dashed #cab151 !important;
}

.load-container {
    top: 15% !important;
}


.loaderWrapper {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
}

.loader  {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1001;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #CBB051;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
/* --------------Indicador de carga generating model ------------- */ 
#loaderWrapper {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}

#loaderModel  {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1001;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #D0D3D4;
  border-radius: 50%;
  border-top: 16px solid #cab151;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/