/* Main content styling */
body {
  font-family: Verdana, Geneva, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 20px;
  line-height: 1.7;
  color: #333;
}

/* Solid bullets */
ul {
  list-style-type: disc !important;
}

/* Second-level (indented) lists - use dashes */
ul ul {
  list-style-type: none !important;
}

ul ul li:before {
    content: "-";
    display: inline-block;
    width: 1.1em;
    margin-left: -1.5em;
}

/* Optional: Make third level use squares if you ever need it */
ul ul ul {
  list-style-type: square !important;
}

/* Nice grey background for inline code in setup chunk */
pre.sourceCode.r code span.fu {
  background-color: #f8f8f8;
  padding: 2px 6px;
  border-radius: 3px;
}

/* Optional: make all inline code look nicer */
code {
  background-color: #f8f8f8;
  padding: 2px 4px;
  border-radius: 3px;
}

thead {
    background-color: #f8f8f8;
    font-size: 14px;
}

tbody {
    font-size: 14px;
}

.subtitle {
    font-size: 23px;
    font-weight: 500;
    margin-top: 0px;
}

h1 {
    margin-bottom: 0px;
}