body {
  background-color: #dddddd;
  font-family: Helvetica, Arial, sans-serif;
  color: #000000;
}

div#outer {
  padding: 0 20px 0 20px;
}

div#outer, div.main {
  width: 640px; /* same as htmlwidth in mcmcplot.R */
}

h2 {
  border-top: thin solid #000000;
  margin: 30px 0;
}

div#toc {
  position:fixed;
  left: 700px;
  top: 59px;
  width:260px;
  overflow-y:auto;
  max-height:100%;
}

ul#toc_items {
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;
  -moz-column-gap: 10px; /* Firefox */
  -webkit-column-gap: 10px; /* Safari and Chrome */
  column-gap: 10px;
  padding: 0px;
}

li.toc_item {
  margin: 0 0 10px 20px;
  padding: 0px;
}

img.mcmcplot {
  margin: 0 0 20px 0;
}

p.plot_err {
  border: dashed #C91818;
  padding: 8px;
}
