import("stats")
import("ggplot2")
import("spatial")
import("scales")
import("concaveman")
import("alphahull")
import("viridisLite")

importFrom("utils", "hasName", "combn", "setTxtProgressBar", "txtProgressBar")
importFrom("grDevices", "axisTicks")
importFrom("graphics", ".filled.contour", "axis", "contour",
                "filled.contour", "par", "points", "title")

export("as_fnc_df")
export("generate_weights")
export("calcPoly")
export("multiPoly")
export("resample_grid")
export("krige_surf")
export("krige_new_data")
export("calc_lscp")
export("calc_all_lscps")
export("calcGrpWprime")
export("calcWprimeBy")
export("lands.grp.test")
export("multi.lands.grp.test")
export("sum_lscps")
export("sub_lscps")
export("div_lscps")
export("mult_lscps")


S3method("plot", "poly_surf")
S3method("summary", "poly_surf")

S3method("plot", "multi_poly")
S3method("print", "multi_poly")
S3method("summary", "multi_poly")

S3method("plot", "kriged_surfaces")
S3method("print", "kriged_surfaces")

S3method("print", "all_lscps")

S3method("calc_lscp", "kriged_surfaces")
S3method("calc_lscp", "all_lscps")

S3method("print", "wtd_lscp")

S3method("print", "grp_Wprime")

S3method("print", "by_Wprime")

S3method("summary", "by_Wprime")

S3method("print", "summary.by_Wprime")

S3method("print", "lands.grp.test")

S3method("print", "multi.lands.grp.test")

S3method("plot", "by_Wprime")
S3method("plot", "grp_Wprime")
S3method("plot", "wtd_lscp")
