#exportPattern("^[[:alpha:]]+")

#import(methods)
importFrom(methods,setClass,setMethod)
import(EnsembleBase)
importFrom(parallel, detectCores)

# integrator_regression_select_minavgerr.R
exportClasses(Regression.Select.MinAvgErr.Config
  , Regression.Select.MinAvgErr.FitObj)
S3method(predict, Regression.Select.MinAvgErr.FitObj)
S3method(summary, Regression.Select.MinAvgErr.FitObj)
S3method(print, summary.Regression.Select.MinAvgErr.FitObj)

# ecv.R
export(ecv.regression.baselearner.control
  , ecv.regression.integrator.control
  , ecv.regression
  , ecv.save, ecv.load)

S3method(predict, ecv.regression)
S3method(print, ecv.regression)
S3method(summary, ecv.regression)
S3method(print, summary.ecv.regression)
S3method(plot, ecv.regression)

importFrom("graphics", "abline", "plot")
importFrom("methods", "new")
importFrom("stats", "predict")
importFrom("utils", "tar", "untar")



