# Default NAMESPACE created by R
# Remove the previous line if you edit this file


# Import all packages listed as Imports or Depends

importFrom ("rcdk","parse.smiles","get.fingerprint")
importFrom ("fingerprint","fp.sim.matrix")
importFrom("stats","embed","hclust","dist","as.dist","cmdscale", "cutree","prcomp","fisher.test","cor")
importFrom("httr","GET","set_config","config")
importFrom("utils", "txtProgressBar","setTxtProgressBar","write.table")
importFrom("XML","xmlParse","xmlToList")
importFrom("KODAMA","KODAMA.matrix","KODAMA.visualization")

exportPattern("KODAMA.chem.sim","tree.cutting","WMCSA", "readMet","clearMet","clusters.detection",
              "nameMet","selectionMet","propertiesMet",  "substituentsMet", "taxonomyMet",
              "diseasesMet", "enzymesMet", "pathwaysMet","chemical.dissimilarity","Metabolites","ChemRICH",
              "features","write.cls","write.gct","write.gmt","allbranches")


  