export("cumgmean")
export("cumhmean")
export("cumkurt")
export("cummean")
export("cummedian")
export("cummode")
export("cumquant")
export("cumskew")
export("cumvar")
export("kurtosis")
export("Mode")
export("skewness")
importFrom("stats", "median", "quantile", "var")

