.disabled {
  background: #eee;
  cursor: default;
  color: black;
}

.tab-content {
  position: relative;
  overflow-y: hidden;
}

.nav-tabs-custom > .tab-content {
    background: #fff;
    padding: 0 0 0 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.tab-content > .active {
    display: block;
    padding: 10px 10px 10px 10px;
}

div.col-sm-1 > button{ 
    background-color: #777777;
    border: 1px solid gray; 
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

div.col-sm-1 > button:after {
    content: "";
    clear: both;
    display: table;
 
}
 
div.col-sm-1 > button:not(:last-child) {
    border-right: none;
}

div.col-sm-1 > button:hover {
    background-color: #666666;
}

div.col-sm-1 > button:focus {
    background-color: #666666;
    outline: -webkit-focus-ring-color auto 0;
}