.shiny-input-container:not(.shiny-input-container-inline) {
    width: 100%;
}
/*tamaño minimo para el campo de texto de las matrices de confusion*/
#knn_ui_1-txtknnMC, #svm_ui_1-txtSvmMC, #d_tree_ui_1-txtDtMC, #r_forest_ui_1-txtRfMC, #boosting_ui_1-txtBoostingMC,  #bayes_ui_1-txtbayesMC, #xgboosting_ui_1-txtxgbMC, #neural_net_ui_1-txtnnMC,  #l_regression_ui_1-txtrlMC,  #penalized_l_r_ui_1-txtrlrMC,  #lda_ui_1-txtldaMC,  #qda_ui_1-txtqdaMC{
  min-height: 100px !important;
}

.shiny-text-output{
  overflow-y:scroll !important;
  min-height: 360px !important;
  max-height: 70vh !important;
}

.wrapper-tag {
	  text-align: center;
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		background: linear-gradient(to right,#CBB051 10%, #777777 50%, #CBB051 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.bootstrap-switch-id-carga_datos_ui_1-permitir_semilla2{
  display:none;
}

#ind_nuevos_ui_1-predecirPromidat,#ind_nuevos_ui_1-transback2  {
  display:none;
}
/* selectInput Posicionar Horizontal */
.multiple-select-var{
  float: right;
  width: 300px;
  margin-bottom: -3px;
  margin-top: 4px;
  font-size: 14px;
  line-height: 0;
}

/* Color Inputs */
.select-color {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  float: left;
  margin-bottom: -5px;
}


/* radioSwitch */

.radioGroupButtons {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.btn-radiogroup {
    vertical-align: middle;
    display: table-cell;
    position: relative;
    float: none;
}

.btn-radioswitch.active {
    color: #fff;
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.btn-radioswitch {
    color: black;
    background-color: #bbb;
}

.btn-radiogroup>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    float: left;
    width: 100%;
}

.btn.radiobtn .radio-btn-icon-yes {
	opacity: 0;
	display: none;
}
.btn.radiobtn.active .radio-btn-icon-yes {
	opacity: 1;
	display: inline-block;
}

.btn.radiobtn.active .radio-btn-icon-no {
	opacity: 0; display: none;
}
.btn.radiobtn .radio-btn-icon-no {
	opacity: 1; display: inline-block;
}
