/* Barra horizontal arriba */
.skin-blue .main-sidebar {
  background-color: #777777;
}

/* Opción al posicionar mouse */    
.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
  background-color: #CBB051;
}

.sidebar-menu li ul li a{
    font-size: 12px;
}


.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: #CBB051;
}
/* Logo */  
.skin-blue .main-header .logo {
  background-color: #CBB051;
}

/* Logo al posicionar el mouse */  
.skin-blue .main-header .logo:hover {
  background-color: #CBB051;
}

/* Menu de navegación */  
.skin-blue .main-header .navbar {
  background-color: #777777;
}

/* Cajas */  
.box {
    background-color: #777777;
    color: #CBB051;
}

.box.box-solid.box-primary {
    border: 1px solid #CBB051;
}

.box.box-solid.box-primary > .box-header{
  background-color: #CBB051;
  color: white;
}

/* Caja de información */  
.bg-promidat {
  background-color: #CBB051;
  color: #fff
}

.header-title {
  position: absolute;
  margin-top: 7px;
  font-size: 24px;
  color: #CBB051;
  left: 45%;
}

/* Circulo de carga */ 
.ring-1 {
    width: 80px !important;
    height: 80px !important;
    border: 7px dashed #cab151 !important;
}

.load-container {
    top: 15% !important;
}

.loaderWrapper {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
}

.loader  {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1001;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #CBB051;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}









