export(mmmeth)
export(EMbssn)
export(meanbssn,varbssn,skewbssn,kurtbssn)
export(Rebssn,Fbssn)


importFrom("stats","dnorm","integrate","nlminb","pnorm","ppoints","qchisq","quantile","rchisq")
importFrom("sn","psn","dsn","rsn","qsn","msn.mle")
importFrom("graphics","plot")
importFrom("grDevices", "dev.off", "postscript")
importFrom("graphics", "abline", "legend", "mtext", "par", "persp")
importFrom("stats", "qqnorm", "approx", "density", "kmeans", "optim", "optimize", "pgamma", "rbeta", "rgamma", "rnorm", "runif", "uniroot")
importFrom("ClusterR","Cluster_Medoids")
