useDynLib(DSSP, .registration=TRUE)

S3method(print, dsspMod)
S3method(plot, dsspMod)
S3method(predict, dsspMod)
S3method(summary, dsspMod)
S3method(residuals, dsspMod)
S3method(print, dsspModsummary)
export(tps.rbf)
export(make.M)
export(sample.eta)
export(sample.delta)
export(sample.nu)
export(DSSP)
