useDynLib(IFP)
importFrom(haplo.stats,haplo.em)
import(coda)
importFrom(grDevices, dev.off, pdf) 
importFrom(graphics, plot) 
importFrom(stats, dbinom, pchisq, rbinom, rgamma, runif) 
importFrom(utils, capture.output, write.table)
exportPattern("^[^\\.]")
export(allele.freq, hap.freq,lrt,.lrtB,error.rates,.varEst,lrtG)
export(drgegggne,drgegne,drgen,drgene,drggn,drgn)
export(iter.mcmc)
