import(methods, Matrix)
import(biclust,fabia)
importFrom("graphics", "axis", "box", "legend", "matlines", "matplot","par", "title")
importFrom("stats", "as.dist", "hclust")

export(similarity)
exportClasses(BiclustSet)
exportMethods(BiclustSet)

exportPattern("^[^\\.]")


