exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "hist", "par", "plot")
importFrom("stats", "cov", "dbinom", "pt", "qnorm", "qt", "rnorm", "runif")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
exportClasses("ggint","print.ggint","summary.ggint")
S3method("print","ggint")
S3method("summary","ggint")
