useDynLib(GLIDE,.registration = TRUE)
importFrom("stats", "as.formula", "binomial", "formula", "glm",
             "model.matrix","rnorm","pnorm")
importFrom("MASS", "ginv")
import(foreach)
import(doParallel)
importFrom("parallel","detectCores","makeCluster","stopCluster")
importFrom("graphics", "abline", "legend", "par", "plot", "points",
             "text")
export(glide,plot.glide,plot.egger,checkdata,remove_missingdata)

S3method("plot","glide")
S3method("plot","egger")