export(mrf_elm_forecast)
export(mrf_model_selection)
export(mrf_forecast)
export(mrf_multi_step_forecast)
export(mrf_neuralnet_one_step_forecast)
export(mrf_nnetar_forecast)
export(mrf_one_step_forecast)
export(mrf_regression_lsm_optimization)
export(mrf_regression_one_step_forecast)
export(mrf_requirement)
export(mrf_rolling_forecasting_origin)
export(mrf_train)
export(wavelet_decomposition)
export(wavelet_prediction_equation)
export(wavelet_training_equations)

importFrom("stats", "quantile")
importFrom("stats", "as.ts")
importFrom("forecast", "nnetar")