import(fda,lattice)
export(pendensity,plot.pendensity,test.equal,print.pendensity,dpendensity,ppendensity)
S3method(print, pendensity)
S3method(plot, pendensity)
importFrom("graphics", "legend", "lines", "par", "plot", "points")
importFrom("stats", "contrasts", "density", "dnorm", "rnorm")
