export(envplot)
export(envsig)
export(envelope)
S3method(envelope, variogram)
S3method(envelope, gstatVariogram)
import("testthat")
# importFrom("geoR", "variog")
# importFrom("geoR", "as.geodata")
importFrom("sp", "coordinates")
importFrom("gstat", "variogram")
importFrom("graphics", "abline", "lines", "plot", "points", "polygon")
importFrom("stats", "lm", "quantile", "pchisq", "qnorm", "sd", "var", "kmeans", "ecdf", "cov")
