export(BIFACTOR, COMPLEXITY, CONGRUENCE, CORRECTED_CORRELS, DIMTESTS, EFA, EFA_SCORES, EMPKC,  
       ESEM, EXTENSION_FA, FACTORABILITY, Factorial_Invariance, INTERNAL_CONSISTENCY,  
       INTERNAL.CONSISTENCY, LOCALDEP, MAP, MISSING_INFO, NEVALSGT1, OMEGA, PARALLEL, PCA,  
       POLYCHORIC_R, PROCRUSTES, RAWPAR, RECODE, ROOTFIT, SALIENT, SCREE_PLOT, SESCREE, SMT)

importFrom("stats", cor, cor.test, na.omit, rnorm, cov2cor, pchisq, varimax,  
           factanal, promax, median, sd)

importFrom("psych", polychoric, cor.smooth, fa, schmid, directSl)

importFrom("polycor", hetcor)

importFrom("graphics", "axis", "plot", "grid", "legend", "lines")

importFrom("utils", packageDescription, capture.output)

importFrom("mirt", mirt)

importFrom("GPArotation", quartimax, bentlerT, geominT, bifactorT, entropy, 
           quartimin, oblimin, oblimax, simplimax, bentlerQ, geominQ, bifactorQ,
           targetQ, targetT)

importFrom(lavaan, cfa, standardizedSolution, fitMeasures, parameterEstimates, fitmeasures)

importFrom(semTools, compareFit)


