importFrom("grDevices", "gray")
importFrom("graphics", "abline", "legend", "lines", "par", "plot", 
           "points", "title", "hist") 
importFrom("stats", "lm", "rnorm", "runif", "var", "cor") 
importFrom("lars", "lars") 
importFrom("ellipse", "ellipse")
 
export(aug.lars)  
S3method(plot, aug.lars)  
S3method(print, aug.lars)  
 
export(correct.signs)  
S3method(print, correct.signs)

export(eff.ridge) 
S3method(plot, eff.ridge) 
S3method(print, eff.ridge)  
export(eff.aug) 
export(eff.biv) 
S3method(plot, eff.biv) 
S3method(print, eff.biv)
 
export(MLboot)  
S3method(print, MLboot)  
export(MLcalc)  
S3method(print, MLcalc) 
export(MLhist) 
S3method(print, MLhist) 
export(MLtrue) 
S3method(print, MLtrue) 
 
export(qm.ridge) 
S3method(plot, qm.ridge) 
S3method(print, qm.ridge) 
 
export(RXpredict) 
S3method(plot, RXpredict) 
S3method(print, RXpredict)

export(syxi) 
S3method(plot, syxi)
 
export(uc.lars) 
S3method(plot, uc.lars) 
S3method(print, uc.lars) 
 
export(YonX) 
S3method(plot, YonX) 
S3method(print, YonX)

export(B19)
export(kofm1) 
export(mapp)
export(meff)
export(mofk1)
export(mstep)
