
/*-----------overall-------------------------*/
body {
    background-color:#F5F5F5;
}

#mainpage{
    min-height: 600px;
    padding: 0px 20px 0px 20px;
}

.well {
    border-radius:4px;
    background:#F5F5F5;
    padding: 20px 20px 20px 20px;
    box-shadow:0 1px 2px rgba(0,0,0,0.3)
}

.nav {
    font-family: "Lora",sans-serif;
    letter-spacing: 0.02em;
}

.nav-header {
    color: black;
    font-size: 0.9em;
}

.nav .navbar-brand {
    font-family: "Lora",sans-serif;
    font-size: 0.9em;
    margin-left: -20px;
}

/*-----------menu--------------------------*/
#mainpanel.nav-pills {
    text-align: center !important;
    color: brown;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.26);
    /*background-image: url(texturebg.png);*/
    padding: 0px 0px 0px 30px;
    margin:  -40px -40px 20px -40px;
}

#mainpanel.nav-pills a {
    color: white;
}

#mainpanel.nav-pills a:hover {
    color: green;
    background-color: rgba(0, 0, 0, 0.26);
}

#mainpanel.nav-pills .active  a:focus,
#mainpanel.nav-pills .active  a {
    background-color: rgba(0, 0, 0, 0.26);
    color: white;
}

/*-----------font--------------------------*/
hline, .hline, h4, .h4 {
    font-family: "Lora",sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0em;
    color: #DD4814;
    text-transform: capitalize;
}

.hline2 {
    font-family: "Lora",sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    color: #369;
}

h6 {
    font-family: "Oswald",sans-serif;
}

a {
    color:#DD4814;
}
/*--------model specification----*/
.smdl {
    display: inline-block;
    width: 120px;
    text-align: center;
    font-family: "Lora",sans-serif;
    font-size: 0.9em;
    padding: 0px 20px 0px 20px;
}

#panelmdl label.radio-inline {
    width: 120px;
    margin: -20px 0px 0px 0px;
    padding:0px 0px 0px 85px;
}

#panelmdl .row {
    border-bottom: 1px solid #369;
}

#panelmdl h5 {
    padding-top: 15px;
}

#panelmdl .form-group {
    margin-left:-20px;
}
/*------------content-----------------*/
.content {
    line-height: 1.6875em;
    margin: 30px 30px 30px 30px;
}

.content .intro {
    border-left: 1px solid #369;
    padding: 5px 0px 5px 10px;
    margin: 0px 10px 0px 10px;
}

.content p {
    font-family: "Lora",sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.03em;
}


/*-----------header and footer-------------*/
.cheader {
    font-family: "Oswald",sans-serif;
    weight: 400;
    color: white;
    font-size: 24px;
    background-image: url(texturebg2.jpg);
    padding: 25px 10px 50px 40px;
    margin: 0px -20px 0px -20px;
    letter-spacing: 0.05em;
}


.cfooter {
    max-width: 970px;
    margin: 40px auto;
    font-size: 12px;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 50px;
    border-top: 3px solid #f0f0f0;
}

/*-----------data exploration-----------*/
#uiVisual.tab-content {
    min-height: 1000px;
}

#outTblMissing,
#outTblImpRank,
#outTblImpMedian{
    margin:0 auto;
    width: 50%;
}

#outTblMissing table,
#uiImpConv table,
#outTblImpRank table,
#outTblImpMedian table,
#uiBootrst table{
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse:collapse;
    border-spacing: 0;
    margin:10px 0px 10px 0px;
}

#outTblMissing td,
#outTblMissing th,
#uiImpConv td,
#uiImpConv th,
#outTblImpRank td,
#outTblImpMedian td,
#outTblImpRank th,
#outTblImpMedian th,
#uiBootrst td,
#uiBootrst th {
    border: 1px solid; /* No more visible border */
    height: 30px;
    transition: all 0.2s;  /* Simple transition for hover effect */
}

#outTblMissing th,
#uiImpConv th,
#outTblImpRank th,
#outTblImpMedian th,
#uiBootrst th {
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
    text-align: center;
}

#outTblMissing td,
#uiImpConv td,
#outTblImpRank td,
#outTblImpMedian td,
#uiBootrst td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
#outTblMissing tr:nth-child(even) td,
#uiBootrst tr:nth-child(even) td{
    background: #F1F1F1;
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
#outTblMissing tr:nth-child(odd) td {
    background: #FEFEFE;
}

#outTblMissing tr td:hover {
    background: #666; color: #FFF;
} /* Hover cell effect! */


/*#uiImpute button.btn {
    min-width: 200px;
    height: 30px;
}*/

/*information box*/
.cinfo, .csuccess, .cwarning, .cerror, .cvalidation {
    /*border: 1px solid;*/
    margin: 15px 0px 15px 0px;
    padding:10px 5px 10px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-style: italic;
    font-size: 1em;
}
.cinfo {
    color: #00529B;
    /*background-color: #BDE5F8;*/
    background-image: url('info.png');
}
.csuccess {
    color: #4F8A10;
    /*background-color: #DFF2BF;*/
    background-image:url('success.png');
}
.cwarning {
    color: #9F6000;
    /*background-color: #FEEFB3;*/
    background-image: url('warning.png');
}
.cerror {
    color: #D8000C;
    /*background-color: #FFBABA;*/
    background-image: url('error.png');
}

.shiny-progress{
    top: 0px !important;
    width: 100% !important;
    padding: 0px 0px 0px 0px !important;
    right: 0px !important;
}

.shiny-progress .progress-text{
    font-size: 1.2em;
    color: white;
    right: 40% !important;
    top: 280px !important;
    padding: 20px 20px 20px 20px !important;
    border: 3px solid darkgoldenrod !important;
    background-image: url(texturebg.png);
}

/*--------progress bar--------------*/
.shiny-progress{
    top: 0px !important;
    width: 100% !important;
    padding: 0px 0px 0px 0px !important;
    right: 0px !important;
}

.shiny-progress .progress-text{
    font-size: 1.1em;
    font-family: "Oswald",sans-serif;
    color: white;
    right: 35% !important;
    top: 280px !important;
    width: 400px !important;
    padding: 10px 20px 40px 20px !important;
    /*border: 3px solid darkgoldenrod !important;*/
    background-image: url(texturebg2.jpg);
}
