export("Runtwalk")
export("OneMove")
export("PlotLogObj")
export("PlotHist")
export("SaveOutput")
export("Ana")
export("TS")

importFrom("graphics", "hist", "lines", "plot", "points")
importFrom("stats", "as.ts", "cor", "rnorm", "runif", "var")
importFrom("utils", "write.table")