exportPattern("^pv")
exportPattern("^NNT")
exportPattern("^sesp")
export("achievable.se.sp")
export("ROCplots")
export("argmin")
export("NNTintervalsRetrospective", "NNTintervalsProspective")
exportPattern("^run")
export("binom.confint")
importFrom(stringr, str_dup)
importFrom(xtable, xtable)
import(shiny)
importFrom(magrittr, '%>%')
importFrom(mvbutils, '%&%')
importFrom("grDevices", "rgb")
importFrom("graphics", "axis", "legend", "lines", "par", "plot",
            "points", "polygon", "rect", "rug")
importFrom("stats", "density", "pbinom", "qbeta", "quantile", "rbeta",
            "rbinom", "rnorm", "uniroot")
importFrom("utils", "menu")
