export(Auxil)
export(Draw)
export(Fit)
export(Predict)
import(lattice)
import(lhs)
import(randtoolbox)
import(Rcpp)
import(pracma)
import(foreach)
import(doParallel)
import(parallel)
import(iterators)
useDynLib(GPM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
