useDynLib(CORElearn, .registration = TRUE, .fixes = "C_")

export(attrEval, allTests, infoCore, classDataGen, CoreModel, destroyModels, getCoreModel,
        predict.CoreModel,display.CoreModel,plot.CoreModel,plot.ordEval,display,
		getRFsizes, modelEval, loadRF, ordDataGen, ordEval, paramCoreIO, plotOrdEval, printOrdEval,
		regDataGen, rfAttrEval, rfOOB, saveRF, testCoreClass, testCoreAttrEval, testCoreReg,
		testCoreOrdEval, testCoreNA, testCoreRPORT, testCoreRand, testClassPseudoRandom,
		testTime, versionCore, calibrate, applyCalibration, reliabilityPlot, preparePlot, rfProximity, rfAttrEvalClustering,
		rfClustering, rfOutliers, classPrototypes, getRpartModel, discretize, applyDiscretization,
		intervalMidPoint, noEqualRows, cvGen, cvGenStratified, cvCoreModel, gatherFromList
)

importFrom(rpart.plot,"rpart.plot")
importFrom("cluster","pam","daisy")
importFrom("grDevices", "bitmap", "bmp", "dev.cur", "dev.new", "gray",
     "jpeg", "pdf", "png", "postscript", "tiff")
importFrom("graphics", "arrows", "axis", "legend", "lines", "mtext",
           "par", "plot", "points", "polygon", "rect", "segments","text", "title")
importFrom("utils", "read.table")
importFrom("stats", "cmdscale","as.formula", "median", "model.frame", "na.pass","predict", 
           "qnorm", "reformulate", "rnorm", "runif", "sd","update.formula")    
importFrom("nnet","which.is.max")
importFrom("plotrix","draw.ellipse")

S3method(plot, ordEval)
S3method(predict, CoreModel)
S3method(plot, CoreModel)
S3method(display, CoreModel)

