import(e1071,GameTheoryAllocation)
export(coalitions,EOQ,EOQcoo,EPQ,EPQcoo,inventorygames,inventorymodelfunction,marginal_contribution_mean,mct,mfoc,mwhc,mwhcct,mwhc2c,linerule,linerulecoalitional,shapley_mfoc,SOC,STI,STIcoo,twolines)
