export(add_shape, add_sitestat, add_species_stat, assemblage, basal_node, coords, Descendants, distrib_data, GND, gridData, MostRecentAncestor, Node_analysis, Node_occupancy, Node_sites, Node_size, Node_species,
       nodenumbers, nodes, Nodesig, nodiv_data,  Nsites, Nspecies, occupancy, occurrences, Parent, plot_grid, plot_node, plot_points, plot_richness, plotSOS, 
       phyplot, plot_nodes_phylo, plot_sitestat, plot_species, richness, Sister, sites, sitestat, SOS, species, species_stat, subsample, two_color_map, update_object)
S3method(identify, distrib_data)
S3method(plot, distrib_data)
S3method(plot, nodiv_data)
S3method(plot, nodiv_result)
S3method(head, distrib_data)
S3method(head, nodiv_data)
S3method(head, nodiv_result)
S3method(print, distrib_data)
S3method(print, nodiv_data)
S3method(print, nodiv_result)
S3method(summary, distrib_data)
S3method(summary, nodiv_data)
S3method(summary, nodiv_result)
S3method(print, summary_distrib_data)
S3method(print, summary_nodiv_data)
S3method(print, summary_nodiv_result)
S3method(subsample, distrib_data)
S3method(subsample, nodiv_data)
S3method(subsample, nodiv_result)
importFrom("grDevices", "col2rgb", "colors", "palette", "rainbow", "rgb")
importFrom("graphics", "box", "identify", "image", "par", "title", "rect")
importFrom("stats", "na.omit", "r2dtable", "sd", "spline", "quantile",
           "simulate")
importFrom("utils", "capture.output", "setTxtProgressBar", "txtProgressBar")
importFrom("utils", head)
importFrom("ape", branching.times)
importFrom("ape", Ntip)
importFrom("ape", Nnode)
importFrom("ape", plot.phylo)
importFrom("ape", extract.clade)
importFrom("ape", drop.tip)
importFrom("ape", nodelabels)
importFrom("picante", match.phylo.comm)
importFrom("picante", sample2matrix)
importFrom("picante", matrix2sample)
importFrom("vegan", nullmodel)
importClassesFrom("sp", SpatialPoints)
importClassesFrom("sp", SpatialPixels)
importClassesFrom("sp", SpatialPointsDataFrame)
importClassesFrom("sp", SpatialPixelsDataFrame)
importFrom("sp", SpatialPoints)
importFrom("sp", points2grid)
importFrom("sp", SpatialPixels)
importFrom("sp", SpatialPointsDataFrame)
importFrom("sp", SpatialPixelsDataFrame)
importFrom("sp", CRS)
importFrom("sp", coordinates)
importMethodsFrom("sp", plot)
importMethodsFrom("sp", bbox)
importMethodsFrom("sp", coordinates)
importMethodsFrom("sp", proj4string)
importMethodsFrom("sp", summary)
importClassesFrom("raster", Raster)
importMethodsFrom("raster", raster)
importFrom("raster", getValues)
