
useDynLib(SFSI, .registration=TRUE)

export(path.plot)
export(SGP)
export(SGP.CV)
export(getGenCov)
export(read_SGP)
export(read_summary)
export(cov2dist)
export(cov2cor2)
export(LARS)
export(readBinary)
export(saveBinary)
export(solveEN)
export(fitBLUP)
export(Prune)
export(net)
export(get_folds)
export(multitrait.plot)

#Actually we are not using S4 methods...
#exportMethods(SFSI)
S3method(coef,SGP)
S3method(coef,LASSO)
S3method(predict,SGP)
S3method(predict,LASSO)
S3method(plot,SGP)
S3method(plot,net)
S3method(summary,SGP)

import(ggplot2)
importFrom(tensorEVD,Hadamard,Hadamard_cov)
importFrom(parallel,mclapply)
importFrom(reshape2,melt)
importFrom(viridis,scale_color_viridis)
importFrom(igraph,make_empty_graph,add_edges,layout_with_fr)
importFrom(stats,cor,var,predict,smooth.spline,IQR,model.matrix,runif,sd,fitted)
importFrom(utils,setTxtProgressBar,txtProgressBar,object.size)
importFrom(scales,extended_breaks)
importFrom(stringr,str_extract)
