import(XML, XML2R, stringi, RISmed, stringr,curl)
importFrom("utils", "download.file", "read.delim", "read.fwf", "read.table","read.csv")
importFrom("utils", "data")
exportPattern(extract_clinvar)
exportPattern(extract_genes_orphanet)
exportPattern(extract_omim)
exportPattern(extract_uniprot)
exportPattern(genes_compile)
exportPattern(localPDB)
exportPattern(pheno_extract_HPO)
exportPattern(variants_compile)
exportPattern(grep_split)
exportPattern(extract_pubmed)
exportPattern(str_trim)
exportPattern(genes_add_pubmed)
exportPattern(tools::resaveRdaFiles)
exportPattern(EUtilsSummary)
exportPattern(EUtilsGet)
exportPattern(YearPubmed)
exportPattern(AbstractText)
exportPattern(Affiliation)
exportPattern(ArticleTitle)
exportPattern(PMID)
exportPattern(Author)
exportPattern(Country)
exportPattern(stri_replace_all_regex)
exportPattern(curl_download)
exportPattern(read.delim)
exportPattern(read.fwf)
exportPattern(read.table)
