http_interactions:
- request:
    method: get
    uri: https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadCollection/2024-10-14/en
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
    body:
      encoding: ''
      file: no
      string: '{"class":"collection","link":{"item":[{"dimension":{"STATISTIC":{"category":{},"label":"STATISTIC","id":"STATISTIC"},"TLIST(A1)":{"category":{"index":["2017/18","2018/19","2019/20","2020/21","2021/22","2022/23"],"label":{"2017/18":"2017/19","2018/19":"2018/20","2019/20":"2019/21","2020/21":"2020/22","2021/22":"2021/23","2022/23":"2022/24"}},"label":"Financial
        Year"},"EQGRP":{"category":{},"label":"Equality Groups"}},"extension":{"copyright":{"name":"Crown
        Copyright","code":"NISRA","href":"https://www.nisra.gov.uk/crown-copyright"},"exceptional":false,"language":{"code":"en","name":"English"},"matrix":"LONEEQ"},"href":"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/LONEEQ/JSON-stat/2.0/en","id":["TLIST(A1)","STATISTIC","EQGRP"],"label":"Loneliness","link":{"alternate":[{"type":"text/csv","href":"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/LONEEQ/CSV/1.0/en"},{"type":"application/json","href":"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/LONEEQ/JSON-stat/1.0/en"},{"type":"application/octet-stream","href":"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/LONEEQ/PX/2013/en"},{"type":"application/base64","href":"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/LONEEQ/XLSX/2007/en"}]},"role":{"metric":["STATISTIC"],"time":["TLIST(A1)"]},"updated":"2024-12-19T9:30:00.000Z"},{"dimension":{"STATISTIC":{"category":{},"label":"STATISTIC","id":"STATISTIC"},"TLIST(A1)":{"category":{"index":["2014/15","2015/16","2016/17","2017/18","2018/19","2019/20","2020/21","2021/22","2022/23"],"label":{"2014/15":"2014/15","2015/16":"2015/16","2016/17":"2016/17","2017/18":"2017/18","2018/19":"2018/19","2019/20":"2019/20","2020/21":"2020/21","2021/22":"2021/22","2022/23":"2022/23"}},"label":"Financial
        Year"},"EQGRP":{"category":{},"label":"Equality Gro[...]
