http_interactions:
- request:
    method: get
    uri: https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/CCMLGD/JSON-stat/2.0/en
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
      Content-Disposition: inline; filename=CCMLGD.20250326200701
    body:
      encoding: ''
      file: no
      string: "{\r\n  \"class\": \"dataset\",\r\n  \"dimension\": {\r\n    \"STATISTIC\":
        {\r\n      \"category\": {\r\n        \"index\": [\r\n          \"CCN\",\r\n
        \         \"CCP\"\r\n        ],\r\n        \"label\": {\r\n          \"CCN\":
        \"Claimant Count\",\r\n          \"CCP\": \"Percentage Claimant Count\"\r\n
        \       },\r\n        \"unit\": {\r\n          \"CCN\": {\r\n            \"decimals\":
        0,\r\n            \"label\": \"Number\",\r\n            \"position\": \"end\"\r\n
        \         },\r\n          \"CCP\": {\r\n            \"decimals\": 1,\r\n            \"label\":
        \"%\",\r\n            \"position\": \"end\"\r\n          }\r\n        }\r\n
        \     },\r\n      \"label\": \"Statistic\"\r\n    },\r\n    \"TLIST(M1)\":
        {\r\n      \"category\": {\r\n        \"index\": [\r\n          \"2005M01\",\r\n
        \         \"2005M02\",\r\n          \"2005M03\",\r\n          \"2005M04\",\r\n
        \         \"2005M05\",\r\n       [...]
