http_interactions:
- request:
    method: get
    uri: https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadCollection/2024-10-14/en
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
    body:
      encoding: ''
      file: no
      string: "{\r\n  \"class\": \"collection\",\r\n  \"link\": {\r\n    \"item\":
        [\r\n      {\r\n        \"dimension\": {\r\n          \"STATISTIC\": {\r\n
        \           \"category\": {},\r\n            \"label\": \"STATISTIC\",\r\n
        \           \"id\": \"STATISTIC\"\r\n          },\r\n          \"TLIST(A1)\":
        {\r\n            \"category\": {\r\n              \"index\": [\r\n                \"2017/18\",\r\n
        \               \"2018/19\",\r\n                \"2019/20\",\r\n                \"2020/21\",\r\n
        \               \"2021/22\",\r\n                \"2022/23\"\r\n              ],\r\n
        \             \"label\": {\r\n                \"2017/18\": \"2017/19\",\r\n
        \               \"2018/19\": \"2018/20\",\r\n                \"2019/20\":
        \"2019/21\",\r\n                \"2020/21\": \"2020/22\",\r\n                \"2021/22\":
        \"2021/23\",\r\n                \"2022/23\": \"2022/24\"\r\n              }\r\n
        \           },\r\n            \"label\": \"Financial Year\"\r\n          },\r\n
        \         \"EQGRP\": {\r\n            \"category\": {},\r\n            \"label\":
        \"Equality Groups\"\r\n          }\r\n        },\r\n        \"extension\":
        {\r\n          \"copyright\": {\r\n            \"name\": \"Crown Copyright\",\r\n
        \           \"code\": \"NISRA\",\r\n            \"href\": \"https://www.nisra.gov.uk/crown-copyright\"\r\n
        \         },\r\n          \"exceptional\": false,\r\n          \"language\":
        {\r\n            \"code\": \"en\",\r\n            \"name\": \"English\"\r\n
        \         },\r\n          \"matrix\": \"LONEEQ\"\r\n        },\r\n        \"href\":
        \"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/LONEEQ/JSON-stat/2.0/en\",\r\n
        \       \"id\": [\r\n          \"TLIST(A1)\",\r\n          \"STATISTIC\",\r\n
        \         \"EQGRP\"\r\n        ],\r\n        \"label\": \"Loneliness\",\r\n
        \       \"link\": {\r\n          \"alternate\": [\r\n            {\r\n              \"type\":
        \"text/csv\",\r\n              \"href\": \"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/LONEEQ/CSV/1.0/en\"\r\n
        \           },\r\n            {\r\n              \"type\": \"application/json\",\r\n
        \             \"href\": \"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/LONEEQ/JSON-stat/1.0/en\"\r\n
        \           },\r\n            {\r\n              \"type\": \"application/octet-stream\",\r\n
        \             \"href\": \"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/LONEEQ/PX/2013/en\"\r\n
        \           },\r\n            {\r\n              \"type\": \"application/base64\",\r\n
        \             \"href\": \"https://ws-data.nisra.gov.uk/public/api.restful/PxStat.Data.Cube_API.ReadDataset/LONEEQ/XLSX/2007/en\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"role\": {\r\n          \"metric\":
        [\r\n            \"STATISTIC\"\r\n          ],\r\n          \"time\": [\r\n
        \           \"TLIST(A1)\"\r\n          ]\r\n        },\r\n        \"updated\":
        \"2024-12-19T9:30:00.000Z\"\r\n      },\r\n      {\r\n        \"dimension\":
        {\r\n          \"STATISTIC\": {\r\n            \"category\": {},\r\n            \"label\":
        \"STATISTIC\",\r\n            \"id\": \"STATISTIC\"\r\n          },\r\n          \"TLIST(A1)\":
        {\r\n            \"category\": {\r\n              \"index\": [\r\n                \"2014/15\",\r\n
        \               \"2015/16\",\r\n                \"2016/17\",\r\n                \"2017/18\",\r\n[...]
