useDynLib(expectreg)
import(stats)
import(BayesX)
import(mboost)
import(parallel)
import(Matrix)

importFrom(quadprog, solve.QP)
importFrom(splines, splineDesign)
importFrom(Rcpp, evalCpp)
importFrom(colorspace, diverge_hcl)
importFrom(fields, cover.design)

importFrom("grDevices", "dev.interactive", "devAskNewPage", "rainbow")
importFrom("graphics", "abline", "axis", "box", "hist", "lines", "matlines",
         "matplot", "matpoints", "mtext", "par", "persp", "plot",
         "points")

export(expectreg.ls,
       expectreg.boost,
       expectreg.qp,
       Mqreg,
       cdf.bundle,
       cdf.qp,
       rb,
       mono,
       quant.boost,
       quant.bundle,
       expectile,
       pemq,
       qemq,
       demq,
       eemq,
       remq,
       peemq,
       ebeta,
       enorm,
       eunif,
       et,
       egamma,
       echisq,
       eexp,
       elnorm,
       eeplot,
       eenorm,
       pebeta,
       penorm,
       peunif,
       pet,
       pegamma,
       pechisq,
       peexp,
       pelnorm)
       

S3method(plot, expectreg)
S3method(print, expectreg)
S3method(residuals,expectreg)
S3method(resid, expectreg)
S3method(fitted, expectreg)
S3method(fitted.values, expectreg)
S3method(effects, expectreg)
S3method(coef, expectreg)
S3method(coefficients, expectreg)
S3method(plot, bundledensity)
S3method(predict, regbase)
S3method(predict, expectreg)
S3method("[", expectreg)
S3method(confint, expectreg)
S3method(summary, expectreg)
S3method(AIC, expectreg)
S3method(update, expectreg)


