useDynLib(clusterHD, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("mclust", "adjustedRandIndex")
importFrom("graphics", "axis", "matplot", "mtext", "par")
importFrom("stats", "kmeans", "na.omit", "runif", "sd")
importFrom("cluster", "maxSE")
importFrom("Ckmeans.1d.dp", "Ckmeans.1d.dp", "Ckmedian.1d.dp")

export(HTKmeans)
export(diagPlot)
export(getLambda)
export(PVS)