S3method(print, opscale)
S3method(print, summary.opscale)
S3method(summary, opscale)
S3method(plot, opscale)

import(lattice)
importFrom("stats", "sd")
exportClass(opscale)
export(opscale, calc.stress, os.plot, shep.plot, shepard, stress)
