export(Est.Inpar, FtSmlrmCMCM, SeltcEch, Spmlficmcm)
importFrom("nleqslv","nleqslv")
importFrom("stats","binomial","coef","glm","model.extract","model.frame","model.matrix","rbinom","runif","terms.formula")
