useDynLib(RobustCalibration)
#exportPattern("^[[:alpha:]]+")
import(Rcpp, RobustGaSP, methods)
importFrom(Rcpp, evalCpp)
importFrom("stats", "optim", "optimize", "rchisq", "rnorm","rgamma","runif","qnorm","qt","quantile","sd")


## S4
exportClasses(rcalibration,rcalibration_MS,predictobj.rcalibration)
exportMethods(show,predict,predict_MS)
export(rcalibration,rcalibration_MS,predict_separable_2dim,predict_separable_2dim_MS,Mogihammer,Get_R_new,Get_R_z_new,mathematical_model_eval, predict.rcalibration, predict_MS.rcalibration_MS,Sample_sigma_2_theta_m_no_discrepancy,Sample_sigma_2_theta_m,Log_marginal_post,Accept_proposal,Chol_Eigen,Log_marginal_post_no_discrepancy,Get_inv_all,Sample_delta,Log_marginal_post_delta,separable_kernel)

S3method(predict,rcalibration)
S3method(predict_MS,rcalibration_MS)


