# Import all packages listed as Imports or Depends, or specific functions only
import("systemfit", "lmtest", "graphics", "stats", "utils")
importFrom("tseries", "jarque.bera.test")
importFrom("urca", "ur.df")

# Export all names in my packages
exportPattern(".")

# Export and register some S3 methods
S3method("plot", "evReturn")
S3method("plot", "maTrend")
S3method("plot", "ocProb")
S3method("plot", "urdf2")

S3method("print", "aiFit")
S3method("print", "aidata")
S3method("print", "evReturn")
S3method("print", "evRisk")
S3method("print", "maBina")
S3method("print", "maTrend")
S3method("print", "ocME")
S3method("print", "ocProb")
S3method("print", "urdf2")

S3method("summary", "aiFit")
S3method("head", "ts")
S3method("tail", "ts")