exportPattern("^[[:alpha:]]+")
importFrom("stats", "cor","sd")
importFrom("corpcor","mpower")
importFrom("PCovR","promin","wvarim")
importFrom("GPArotation","oblimin","quartimin","targetT","targetQ","pstT","pstQ","oblimax","entropy","quartimax","Varimax",
           "simplimax","bentlerT","bentlerQ","tandemI","tandemII","geominT","geominQ",
           "cfT","cfQ","infomaxT","infomaxQ","mccammon","bifactorT","bifactorQ")
importFrom("utils", "setTxtProgressBar", "txtProgressBar","flush.console")
importFrom("semPlot","semPaths")
