@charset "UTF-8";

/* styleR.css - Style Sheet for Irucka Embry/EcoC&sup2;S (EcoC2S) R Web site */

/*html*/
html {
    background-color: #fff;
    text-align: center;
}

/*body*/
body {
margin: auto;
background-color: #ffffcc; /*255, 255, 204*/
font-style: normal;
font-size: 100%;
font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;
}

body#index a#menu-index,
/*
body#manning a#menu-manning,
body#services a#menu-services,
*/


/*viewport*/
/*https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml*/
@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 


@-ms-viewport {
  width: device-width ;
}



.clear {clear:both;}
/*source: http://www.cssgirl.com/resources/2008/06/07/create-full-width-header-footer-with-centered-content-using-css/ Create Full Width Header &#038; Footer With Centered Content Using CSS | CSSgirl Dev &amp; Design*/

/*body alterations*/
hr {margin-left: 2%; margin-right: 2%;}

blockquote, blockquote p {text-align: left; margin-left: 2%; margin-right: 2%; border: none; padding: 0; font-style: normal; font-size: 100%; font-family: Alice, "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Roman No 9 L", times, palatino, "times new roman", serif;}

ul.navlist {text-align: left; margin-left: auto; margin-right: auto; font-size: 100%; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
li {text-align: left; margin-left: auto; margin-right: auto; font-size: 100%; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}

img.center {
display : block;
margin-left : auto;
margin-right : auto;
border : none;
}

img.left {
display: block;
float: left;
margin-left: auto;
margin-right: 20px;
margin-bottom: 10px;
border: none;
} /*source: http://csscreator.com/node/34100 Image and text displayed on the same line | CSS Creator*/
/*source: http://helpdeskgeek.com/how-to/image-text-wrap-css-html/ HTML Code to Wrap Text Around Image*/


h1.first {text-align: center; margin-left: auto; margin-right: auto; font-weight : 900; font-size : 150%; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
h1 {text-align: center; margin-left: auto; margin-right: auto; font-weight : 900; font-size : 150%; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
h2 {text-align: center; margin-left: auto; margin-right: auto; font-weight : 900; font-size : 140%; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
h3 {text-align: center; margin-left: auto; margin-right: auto; font-weight : 900; font-size : 130%; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
h4 {text-align: center; margin-left: auto; margin-right: auto; font-weight : 900; font-size : 120%; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
h5 {text-align: center; margin-left: auto; margin-right: auto; font-weight : 900; font-size : 110%; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
h6 {text-align: center; margin-left: auto; margin-right: auto; font-weight : 900; font-size : 105%; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}

ul {text-align: left; margin-left: 3%; margin-right: auto; font-size: 100%; font-family: Alice, "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Roman No 9 L", times, palatino, "times new roman", serif;}
li {text-align: left; margin-left: 3%; margin-right: auto; font-size: 100%; font-family: Alice, "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Roman No 9 L", times, palatino, "times new roman", serif;}
li.indent  {list-style-type: none; text-indent: 2em; margin-top: 0; margin-bottom: 0; font-size: 100%; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}

i {font-style: italic;}
b {font-weight: bold;}

p {text-align: left; font-style: normal; font-size: 100%; margin-left: 2%; margin-right: 2%; margin-top: 0; margin-bottom: 0; border: none; padding: 0;}
p#center{text-align: center; display : block; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; border: none; padding: 0; }
p#image {text-align: center; display : block; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; border: none; padding: 0; }
p#free {text-align: center; display : block; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; border: none; padding: 0; }
p span.date {font-size: 0.9em; float: right; color: #8B0000; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
p.first {text-align: center; margin-left: auto; margin-right: auto;}
p.center {text-align: center; margin-left: auto; margin-right: auto;}
p.right {text-align: right; margin-left: auto; margin-right: auto; font-size: 67%; font-family: "Fira Sans", "Open Sans", Messapia, Gidole, Urbanist, Evolventa, Jost*, "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
p#new {font-style: normal; font-size: 100%; margin-left: 2%; margin-right: 2%; margin-top: 0; margin-bottom: 0; border: none; padding: 0; font-family: Alice, "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Roman No 9 L", times, palatino, "times new roman", serif;}
p#copy1 {font-style: normal; font-size: 90%; text-align: left; margin-left: 2%; margin-right: 2%; margin-top: 0; margin-bottom: 0; border: none; padding: 0;}
p#copy2 {font-style: normal; font-size: 90%; text-align: left; margin-left: 2%; margin-right: 2%; margin-top: 0; margin-bottom: 0; border: none; padding: 0;}
p#attribution {text-align: left; margin-left: 2%; margin-right: 2%; margin-top: 0; margin-bottom: 0; border: none; padding: 0; font-style: normal; font-size: 100%; font-family: Alice, "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Roman No 9 L", times, palatino, "times new roman", serif;}
p#footer1 {text-align: center; margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 0; border: none; padding: 0; font-size: 90%; font-family: Alice, "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Roman No 9 L", times, palatino, "times new roman", serif;}
p#footer2 {text-align: center; margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 0; border: none; padding: 0; font-size: 90%; font-family: Alice, "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Roman No 9 L", times, palatino, "times new roman", serif;}
p#


/* Span Classes*/
.rp {

    color: #800000;
    
}


.bs {

    color: #800080;
    
}


.add {

    color: #2F4F4F;
    
}



/* Contact Form*/

.error_msg {

    color: #FF0000;
    
}

.hidden {
    display: none;
}

.req_field {
  font-family: Alice, "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Roman No 9 L", times, palatino, "times new roman", serif;
  color: #A52A2A;
}


.pss_field {
  font-family: Alice, "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Roman No 9 L", times, palatino, "times new roman", serif;
  color: #DC143C;
}


.form-input {

float: left;
margin-left: auto;
margin-right: auto;
}


.status-msg {

float: center;
margin-left: auto;
margin-right: auto;
}



input[type=text].lang_placeholder_field {
    background-repeat: no-repeat;
    background-position: left;

}


input.share {
    display: none;
}

input.cf_size_medium {
    width: 250px;
}

input.cf_size_large {
    width: 400px;
}

input.cf_size_biz {
    width: 300px;
}

input.cf_size_other {
    width: 300px;
}

input.cf_size_subject {
    width: 300px;
}

textarea {
  width: 400px;
}

textarea.cf_size_medium {
  height: 150px;
}

textarea.cf_size_large {
  height: 300px;
}

textarea.cf_size_biz {
  height: 150px;
}

textarea.cf_size_other {
  height: 150px;
}

textarea.cf_size_subject {
  height: 150px;
}



/* Special characters */
#ipa {font-size: 100%; text-align: left; font-family: Gentium, "Doulos SIL", "Charis SIL", "liberation serif", "liberation sans", "linux libertine", freeserif, freesans, "Junicode", "Cardo", "Aborigonal Serif", "Hiragino Mincho Pro W3", "TITUS Cyberbit Basic", "Hiragino Mincho Pro W3", "Arial Unicode MS";}

/* Code for a span class*/
.code {
text-align: left; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; border: none; padding: 0; background-color: #D3D3D3; font-family: Hack, Monoid, "Nimbus Mono L", freemono, "Liberation Mono", monospace;
}


/* Function for a span class*/
.function {
text-align: left; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; border: none; padding: 0; background-color: #999966; font-family: Hack, Monoid, "Nimbus Mono L", freemono, "Liberation Mono", monospace;
}


/* Results */
#finished{
height: 80px;
width: 500px;
border: 1px solid gray;
padding: 3px;
background-color: #fff;
font-size: 100%; text-align: left; font-family: Gentium, "Doulos SIL", "Charis SIL", "liberation serif", "liberation sans", "linux libertine", freeserif, freesans, "Junicode", "Cardo", "Aborigonal Serif", "Hiragino Mincho Pro W3", "TITUS Cyberbit Basic", "Hiragino Mincho Pro W3", "Arial Unicode MS";
}


/*links*/
a:link {color : #000080;} /* for unvisited links */
a:visited {color : #800080;} /* for visited links */
a:active { color: #556B2F; } /* when link is clicked */
a:hover { color: #008B8B; } /* when mouse is over link */
a:link, a:visited, a:active, a:hover {text-decoration : underline;}

/*menu*/
ul#menu { margin: 0 0; padding: 0; position: absolute; }

ul#menu ul { list-style-type: none; padding: 5px 0 }

ul#menu li { display: block; float: left; width: 140px; margin: 0 1px; text-align: left; margin-left: auto; margin-right: auto; font-size : 133%; font-family: Alice, "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Roman No 9 L", times, palatino, "times new roman", serif; }

html>/**/body ul#menu a, html>/**/body ul#menu a:visited  { font-weight: bold; font-size: 0.72em; padding: 0.2em;  display: block;
text-decoration: none; text-align: center
}

ul#menu a, ul#menu a:visited { font-weight: bold; font-size: 0.72em; padding: 0.2em;  display: block;
text-decoration: none; text-align: center
}

html>/**/body ul#menu a:hover { color: #FFFF00 }
ul#menu a:hover { color: #FFFF00 }

html>/**/body ul#menu a.current  { text-decoration: none; color: #CCFFCC }
ul#menu a.current  { text-decoration: none; color: #CCFFCC }

html>/**/body ul#menu a.current:hover { color: #FFF }
ul#menu a.current:hover { color: #FF0033 }

ul#menu li ul  { display: block; visibility: hidden; position: absolute; margin: 0; left: 0; width: 800px }

ul#menu li ul ul li { display: block; visibility: hidden }

ul#menu li:hover ul, ul#menu li:hover ul ul li { visibility: visible; z-index: 1 }
