
import(rentrez)
import(XML)
import(plyr)
import(ggplot2)
importFrom("utils", "write.csv")
importFrom("stats", "na.omit", "reorder", "setNames", "aggregate")
export(Get.Publication.info)
export(Get.Abstracts)
export(Plot.TopPapers)
export(Plot.TopJournals)
export(Plot.papertype)
