exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.new", "gray")
importFrom("graphics", "abline", "frame", "lines", "matplot", "mtext","par", "points", "polygon", "title", "axis", "box") # axis and box for apc.indiv
importFrom("stats", "as.formula", "binomial", "gaussian", "glm", "glm.fit",	"pbinom", "pchisq", "pf", "pnorm", "poisson", "ppois",
					"pt", "qnorm", "qt", "quasibinomial", "quasipoisson", "summary.glm", "median", "model.matrix") # median and model.matrix for apc.indiv
importFrom("lattice", "levelplot")
importFrom("plyr","ddply","join","round_any") # join for apc.indiv	 
importFrom("reshape","cast")
importFrom("survey", "svydesign", "svyglm")
importFrom("plm", "fixef", "plm") # apc.indiv: panel data estimation
importFrom("car", "linearHypothesis")
importFrom("lmtest", "waldtest", "lrtest")
#importFrom("ISLR", "Wage")
#importFrom("AER", "PSID7682")