## regular functions:

export("gofPIOSRn", "gofPIOSTn", "gofKernel", "gofRosenblattSnB", 
"gofRosenblattSnC", "gofRosenblattChisq", "gofRosenblattGamma", 
"gofCvM", "gofKendallCvM", "gofKendallKS",
"gofWhite", "gofWhich", "gofWhichCopula", "gof",
"gofCheckTime", "gofco", "gofCustomTest",
"gofGetHybrid", "gofOutputHybrid", "gofCopula4Test", "gofTest4Copula",
"gofArchmSnB", "gofArchmSnC", "gofArchmGamma", "gofArchmChisq", "gofKS",
"CopulaTestTable"
)

S3method(print, gofCOP)
S3method(plot, gofCOP)
S3method(print, goftime)

# imports:

import("copula")
import("parallel")
import("foreach")
import("doSNOW")
import("R.utils")
importFrom("VineCopula", BiCopGofTest, BiCopDeriv, BiCopDeriv2, BiCopPDF)
importFrom("SparseGrid", createIntegrationGrid)
importFrom("numDeriv", grad)
importFrom("methods", is)
importFrom("MASS", ginv)
importFrom("stats", constrOptim, cor, cov, ecdf, lm, optimise, qnorm, qt, pchisq)
importFrom("utils", tail, capture.output, setTxtProgressBar, txtProgressBar)
importFrom("graphics", "abline", "axis", "mtext")
importFrom("yarrr", "pirateplot")
importFrom("progress", "progress_bar")
importFrom("crayon", "bold")