useDynLib(psvd, .registration = TRUE, .fixes = "C_")

export(calcSVD, calcPCA, mGS, eigenV, mGSc, eigenVc)

importFrom("graphics", "abline", "hist", "lines", "plot", "points")
importFrom("stats", "rnorm", "runif", "sd")
importFrom("utils", "read.table", "write.table")
