importFrom("stats", "aggregate", "approxfun", "coef", "coefficients", "cov2cor",
           "density", "ecdf", "fitted", "formula", "getCall", "ks.test", "lm",
           "model.frame", "model.matrix", "na.fail", "nls", "optim", "pnorm",
           "ppoints", "predict", "punif", "qnorm", "qqplot", "quantile",
           "rchisq", "reformulate", "residuals","rnorm", "sigma", "update",
           "vcov", "weights")
importFrom("graphics", "abline", "legend", "lines", "polygon", "text")
importFrom("utils", "hasName")
importFrom("grDevices", "rgb")
importFrom("methods", "is")
importFrom("clue", "solve_LSAP")
importFrom("numDeriv", "hessian", "jacobian")
export("compare", "distfreereg", "distfreereg.default", "distfreereg.formula",
       "distfreereg.function", "distfreereg.lm", "distfreereg.nls",
       "rejection")
S3method(coef, distfreereg)
S3method(confint, distfreereg)
S3method(distfreereg, default)
S3method(distfreereg, formula)
S3method(distfreereg, "function")
S3method(distfreereg, lm)
S3method(distfreereg, nls)
S3method(fitted, distfreereg)
S3method(formula, distfreereg)
S3method(plot, distfreereg)
S3method(predict, distfreereg)
S3method(print, distfreereg)
S3method(residuals, distfreereg)
S3method(update, distfreereg)
S3method(vcov, distfreereg)
S3method(ks.test, compare)
S3method(plot, compare)
