useDynLib(DMQ, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "optim", "optimHess", "pt", "quantile", "runif")
importFrom("utils", "tail")
importFrom("Rsolnp", "solnp")
importFrom("MASS", "ginv")
importFrom("DEoptim", "DEoptim", "DEoptim.control")
importFrom("parallel", "clusterEvalQ")
export("EstimateDMQ")
export("UpdateDMQ")
export("MomentsDMQ")
export("fn.solnp")
export("fn.optim")
export("fn.DEoptim")
export("ForecastDMQ")
export("SimulateDMQ")
