useDynLib("fanc", .registration = TRUE)

import(ellipse)
import(Matrix)
import(tcltk)


export(fanc)
export(plot.fanc)
export(print.fanc)
export(select)
export(out)

importFrom("grDevices", "rgb")
importFrom("stats", "cov", "var")
importFrom("utils", "install.packages")
importFrom("grDevices", "dev.off", "graphics.off", "pdf", "png")
importFrom("graphics", "lines", "par", "plot", "rect")
importFrom("stats", "factanal", "runif")

S3method("plot","fanc")
S3method("print","fanc")
