exportPattern("^[[:alpha:]]+")
import(glasso)
import(capushe)
import(mvtnorm)
import(igraph)
importFrom(stats, cov)
importFrom(stats, var)
importFrom(stats, cor)
importFrom(GGMselect, simulateGraph)

## export methods
export(shockSelect)
export(simulateBlockDiagNetwork)
export(networkInferenceGlassoBIC)
