export(grPipe.create, grPipe.node, grPipe.plot)

import(dplyr)
importFrom(DiagrammeR, grViz)
importFrom(DiagrammeRsvg, export_svg)
importFrom(grid, grid.raster)
importFrom(png, readPNG)
importFrom(magrittr, "%>%")
importFrom(rsvg, rsvg_png)
