exportPattern("^[[:alpha:]]+")
import("maxLik","stats")
S3method( print, margins.oglmx )
S3method( summary, oglmx )
S3method( print, summary.oglmx )
S3method( vcov, oglmx )
S3method( AIC, oglmx )
S3method( logLik, oglmx )
S3method( logLik, summary.oglmx )
S3method( coef, oglmx )
S3method( coef, summary.oglmx )
S3method( nobs, oglmx )
S3method( formula, oglmx )
