/*estilos about------------------------------------------------*/
#logoabout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos_ack {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


#ufrpe{
  width: 10px;
  height: 10px;
}

#text_about {
  padding: 2em;
}

/*Paineis------------------------------------------------------*/
.Paineis {
  overflow: auto;
  overflow-y: scroll;
  max-height: 100vh;
}


/*BOTOES------------------------------------------------------*/
.button {
  display: inline-block; /* Exibe os botões lado a lado */
}/*tela de download direto do inmet*/
.button-container {
  display: flex;
}/*tela de download direto do inmet*/
#action_button{
  margin-top:25px;
  padding-left: 10px;
}/*tela de download direto do inmet*/

@media screen and (max-width: 420px) {
  .button-container {
  display: block;
  }
  .button {
    display: block;
  }
  #action_button{
  margin-top:0px;
  padding-left: 0px;
  }
}/*tela de download direto do inmet*/

.processbtn {
    text-align: center;
    padding-bottom: 5px;
  }

.classagrupar{
  color:black;
  border-color: black;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

#processtabs-diariobtn:hover,#processtabs-mensalbtn:hover,#processtabs-anualbtn:hover,.classdown:hover{
  background-color: #3c8dbc;
  color: #f4f4f4;
}

.downprocess{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 5px 0;
}

.classdown{
  margin-left: auto;
}
.shiny-options-group{
  text-align: left;
}


/* selecao no menu */
.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
  color: #fff;
  background: #1e282c;
  border-left-color: orange;
}

.selectize-input {
  overflow: hidden;
}

/*Tabelas------------------------------------------------------*/
.table {
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  padding: 12px;
  /*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.table:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.rt-text-content:hover {
  white-space: pre-line !important;
} /*mostrar cabeçario da tabela*/

.content-wrapper {
  background-color: #ecf0f5;
}

/*Graficos------------------------------------*/
.plot{
  border-radius: 10px;
  background-color: #fff;
  padding: 12px;
  /*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.plot:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/*barra de navegaçao-----------------------------------------------*/
.navbar-default {
  background-color: #3c8dbc;
  border-radius: 10px;
  color: #f4f4f4;
}

.navbar-default .navbar-nav>li>a {
  color: #f4f4f4;
}
.navbar-default .navbar-brand {
  color: #f4f4f4;
}

@media (min-width: 768px){
  .navbar-nav>li>a {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 12px;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #0f1923;
  background-color: #fafafa;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 12px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #fafafa;
  background-color: transparent;
}




/*Eventos JS---------------------------------------------------*/
.nav li a.disabled {
  background-color: lightgray !important;
  color: gray !important;
  cursor: not-allowed !important;
  border-color: lightgray !important;
}
.nav li a.disabledTabMenu,
a.disabledSubMenu {
  color: gray !important;
  cursor: not-allowed !important;
}
.inactiveLink {
  pointer-events: none;
}