export(fusionSimulate)
export(fusionData)
export(fusion)
S3method(predict, fusionModel)
S3method(summary, fusionModel)
S3method(fusion, dinla)
S3method(fusion, dstan)
S3method(print, dinla)
S3method(print, dstan)
S3method(fitted, fusionModel)
S3method(plot, fusionModel)
import(rstan)
import(sp)
import(sf)
importFrom(graphics, par, points)
importFrom(methods, as, slot)
importFrom(stats, dist, rbinom, rnorm, rpois, runif, dgamma, dnorm, terms, median, quantile, sd, model.matrix, density)
importFrom(utils, packageVersion)
importFrom(spam, rgrf)
importFrom(fields, rdist)
importFrom(deldir, deldir, tile.list)
