exportPattern("^[[:alpha:]]+")

export("IsReg", "CInp2TS", "Agg", "Volume2Level", "Level2Volume")

exportMethods("EmiStatR")

import(methods)

importFrom(utils, installed.packages, write.table, read.csv, head, data)
importFrom(grDevices, dev.off, pdf, dev.new, png)
importFrom(graphics, abline, axis, mtext, par, plot)
importFrom(stats, deltat, end, quantile, aggregate, approx)
importFrom(xts, xts, .indexwday, .indexmon, as.xts)
importFrom(zoo, na.approx, is.regular, coredata, index, plot.zoo)
importFrom(foreach, foreach, "%dopar%", "%do%")
importFrom(parallel, detectCores, stopCluster, makePSOCKcluster)
importFrom(lattice, xyplot)
importFrom(doParallel, registerDoParallel)
