exportMethods(dprint)
S3method(dprint,data.frame)
import(grid)
import(stats)
import(grDevices)
export(Fb)
export(Fc)
export(Fci)
export(Fr)
export(char.dim)
export(char.height)
export(char.width)
export(char.width1)
export(colnames.linebreak)
export(colnames.row)
export(colnames.struct)
export(conditional.struct)
export(consect.struct)
export(dborder)
export(dprint)
export(dprint.data.frame)
export(fitpage)
export(fmla_inter)
export(fmla_lhs)
export(fmla_rhs)
export(frmt)
export(ftr)
export(hdr)
export(insert.grp)
export(insert.grp1)
export(kill.multiregx)
export(list.to.df)
export(pagelayout)
export(rbin)
export(rdesc)
export(row.hl)
export(size.simp)
export(style)
export(tablebreak)
export(tbl.struct)
export(tbl.struct.simp)
export(vector.linebreak)
export(vector.struct)
