
# functions

export(gamlssMX, MX.control, gamlssMXfits, 
       gamlssNP, NP.control,
       dMX, pMX, getpdfMX, getpdfNP, plotMP)

# datasets #export(lange)

import(stats)
import(gamlss)
importFrom(nnet, nnet, multinom)
importFrom(gamlss.dist, as.gamlss.family, NO)
importFrom(graphics, lines, par, plot, rug, persp, points)
importFrom("grDevices", "trans3d")


#importFrom(MASS)
# needed for gamlss family
#export(as.family, gamlss.family, gamlss.family.default, as.gamlss.family)

# documented but unexported methods


#importFrom(graphics, pairs, plot)

#useDynLib(gamlss)

#S3method(finterp, gamlss.nl)

#S3method(finterp, default)
#S3method(finterp, data.frame)
#S3method(fnenvir, default)
#S3method(fnenvir, data.frame)
S3method(plot, gamlssNP)
S3method(fitted, gamlssNP)
S3method(print, gamlssNP)
S3method(family, gamlssNP)
S3method(residuals, gamlssNP)
#-----
S3method(print, gamlssMX)
S3method(model.matrix, gamlssMX)
S3method(formula, gamlssMX)
S3method(coef, gamlssMX)
S3method(predict, gamlssMX)
S3method(terms, gamlssMX)
S3method(fitted, gamlssMX)
S3method(residuals, gamlssMX)
S3method(update, gamlssMX)
#S3method(addterm, gamlss)
#S3method(dropterm, gamlss)
#S3method(model.frame, gamlss)
#S3method(summary, gamlss)
#S3method(update, gamlss)
#S3method(predict, gamlss)
#S3method(vcov, gamlss)
