exportPattern("^[[:alpha:]]+")

importFrom("hdi", "hdi", "lasso.cv", "multi.split")
# import(hdi)
# import(glmnet)
import(stats)
import(utils)
import(graphics)
import(MASS)


export(lasso_ms)
export(lasso_dsp)
export(lasso_dsp_boot)
export(lasso)
export(OLS)

# Exported S3 Methods
S3method(plot, inet)
