export(eespca, eespcaCV, eespcaForK, powerIteration, computeApproxNormSquaredEigenvector, 
       reconstruct, reconstructionError, computeResidualMatrix, tpower, tpowerPCACV, riflePCACV, rifleInit)
importFrom(stats, cov, runif, sd)
importFrom(utils, head)
importFrom(rifle, rifle, initial.convex)
importFrom(PMA, SPC, SPC.cv)
importFrom(MASS, mvrnorm)
