http_interactions:
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/orders
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<MY-BEARER-TOKEN>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf-8
      etag: W/"95fe460803b1c166b534d794d6261d3a"
    body:
      encoding: UTF-8
      file: no
      string: '{"orders":[{"id":"FXD352OMRW9O","external_id":"sent-from-test_client16:10_09-28-21","created_at":"2021-09-28T16:10:59.439Z","status":"PENDING
        APPROVAL","payment":{"subtotal":0.36,"total":0.36,"fees":0.0},"rewards":[{"id":"LN5IO6CTPC9G","order_id":"FXD352OMRW9O","created_at":"2021-09-28T16:10:59.459Z","value":{"denomination":0.36,"currency_code":"USD"},"delivery":{"method":"EMAIL","status":"PENDING"},"recipient":{"email":"jdt@jdtrat.com","name":"jdt"}}]},{"id":"R14KWBOAG9CG","external_id":"sent-from-test_no-client16:10_09-28-21","created_at":"2021-09-28T16:10:58.951Z","status":"PENDING
        APPROVAL","payment":{"subtotal":0.36,"total":0.36,"fees":0.0},"rewards":[{"id":"BY83AAZ5QYLV","order_id":"R14KWBOAG9CG","created_at":"2021-09-28T16:10:58.973Z","value":{"denomination":0.36,"currency_code":"USD"},"delivery":{"method":"EMAIL","status":"PENDING"},"recipient":{"email":"jdt@jdtrat.com","name":"jdt"}}]},{"id":"YI1OK19EY5BD","external_i[...]
