http_interactions:
- request:
    method: delete
    uri: https://testflight.tremendous.com/api/v2/invoices/GYU-96539
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<MY-BEARER-TOKEN>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf-8
      etag: W/"e896f195d484aebc4223584f8e50e43e"
    body:
      encoding: UTF-8
      file: no
      string: '{"invoice":{"id":"GYU-96539","po_number":"from-testthat-invoice-id","amount":50.0,"status":"DELETED"}}'
  recorded_at: 2021-09-28 20:20:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
