http_interactions:
- request:
    method: post
    uri: https://testflight.tremendous.com/api/v2/orders
    body:
      encoding: ''
      string: '{"external_id":"sent-from-test_client16:06_09-28-21","payment":{"funding_source_id":"8X9X7Z81XZ9X"},"rewards":{"value":{"denomination":0.36,"currency_code":"USD"},"delivery":{"method":"EMAIL"},"recipient":{"name":"jdt","email":"jdt@jdtrat.com"},"products":["Q24BD9EZ332JT","VW9JLMPRL9N7"]}}'
    headers:
      Content-Type: application/json
      Authorization: <<MY-BEARER-TOKEN>>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=utf-8
      etag: W/"a0646d7afc2a7b32cd3b83ff91b115e5"
    body:
      encoding: UTF-8
      file: no
      string: '{"order":{"id":"YI1OK19EY5BD","external_id":"sent-from-test_client16:06_09-28-21","created_at":"2021-09-28T16:06:31.339Z","status":"PENDING
        APPROVAL","payment":{"subtotal":0.36,"total":0.36,"fees":0.0},"rewards":[{"id":"UZS8H1GMVBXB","order_id":"YI1OK19EY5BD","created_at":"2021-09-28T16:06:31.359Z","value":{"denomination":0.36,"currency_code":"USD"},"delivery":{"method":"EMAIL","status":"PENDING"},"recipient":{"email":"jdt@jdtrat.com","name":"jdt"}}]}}'
  recorded_at: 2021-09-28 20:06:05 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
