http_interactions:
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/funding_sources
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<MY-BEARER-TOKEN>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf-8
      etag: W/"c16c0c9b9778980aad2faedd98a7c751"
    body:
      encoding: UTF-8
      file: no
      string: '{"funding_sources":[{"method":"balance","id":"8X9X7Z81XZ9X","meta":{"available_cents":500000,"pending_cents":5200}}]}'
  recorded_at: 2021-09-28 20:06:07 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
