# Depends
import("graphics")
import("grDevices")

# Imports
import("stats")
importFrom("utils", "head", "tail")
importFrom("methods", "is")

# Exports
export("LPS", "LPS.coeff", "OVL")
export("heat", "heat.lin", "heat.exp")
export("heat.map", "clusterize", "heat.scale")
export("surv.colors", "surv.scale")
export("hclust.ward", "dist.COR")
S3method("plot", "LPS")
S3method("predict", "LPS")
