useDynLib(edgemodelr, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(utils, download.file, flush.console, tail, askYesNo)
importFrom(tools, R_user_dir)
export(edge_load_model)
export(edge_completion)
export(edge_free_model)
export(is_valid_model)
export(edge_download_model)
export(edge_list_models)
export(edge_quick_setup)
export(edge_stream_completion)
export(edge_chat_stream)
export(build_chat_prompt)
export(edge_clean_cache)
export(edge_set_verbose)