
body {
	hyphens: auto;
	text-align: justify
}

h1, .h1 {
	margin-top: 30px;
} 

h2, .h2 {
	margin-top: 20px;
} 

h3, .h3 {
	margin-top: 20px;
} 

h4, .h4 {
	margin-top: 20px;
} 

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	color: #0072B2;
}

table {
	margin-top: 50px;
	margin-bottom: 50px;
}


img {
	page-break-before: auto; 
	page-break-after: auto; 
	page-break-inside: avoid; 
	margin-top: 50px;
	margin-bottom: 50px;
}

h4.author{
	margin-top: 30px;
	margin-bottom: 30px;
}


@page {  
	margin-left: 33cm;  
	margin-right: 8cm;  
	margin-top: 2cm;  
	margin-bottom: 2cm;  
}


p {
  font-size: 16px;
  font-family: 'Times New Roman';
  line-height: 2em;
  padding-left: 2%;
  padding-right: 10%;
  text-indent : 1.05cm;
}

p:not(:first-of-type) {
  text-indent: 3em;
}

h1{
  font-size: 16pt;
  color: black;
}

h2,h3,h4,h5,h6{
  font-size: 14pt;
  color: black;
}

#TOC {
    max-width: fit-content;
    max-height: fit-content;
    font-size: 14pt;
    white-space: nowrap;
    color: #4e89bf;
  }
  
  div:has(> #TOC) {
    display: flex;
    flex-direction: row-reverse;
}



div#TOC li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0;
}



a { 
  color: #4e89bf; 
}



 a:hover {
    color: blue; /* darker color when hovering */
  }

