import(igraph)
importFrom("rdiversity","metacommunity","norm_meta_alpha","norm_sub_alpha","norm_meta_beta","meta_gamma")
import(blockmodels)
importFrom("stats","as.dist")
importFrom("stats","sd")
importFrom("grDevices", "gray.colors")
importFrom("graphics", "abline", "image", "lines")
importFrom("utils","setTxtProgressBar","txtProgressBar","capture.output")
importFrom("bipartite","visweb")
importFrom("igraph","degree","distances")
export(getMetaweb)
export(divPartition)
export(disPairwise)
export(cpness)
useDynLib(econetwork, .registration = TRUE)
import(Rcpp)
export(elgrin)
export(embedding)
