http_interactions:
- request:
    method: get
    uri: https://ttlivewebapi.fxopen.com/api/v2/public/quotehistory/EURUSD/M1/bars/Bid?timestamp=1893456000000&count=-10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "Bars": [{
          "Volume": 94,
          "Close": 1.12896,
          "Low": 1.12892,
          "High": 1.12896,
          "Open": 1.12895,
          "Timestamp": 1639069620000
         }, {
          "Volume": 231,
          "Close": 1.12886,
          "Low": 1.12884,
          "High": 1.12899,
          "Open": 1.12895,
          "Timestamp": 1639069680000
         }, {
          "Volume": 162,
          "Close": 1.12876,
          "Low": 1.12874,
          "High": 1.12888,
          "Open": 1.12886,
          "Timestamp": 1639069740000
         }, {
          "Volume": 141,
          "Close": 1.12879,
          "Low": 1.12866,
     [...]
