http_interactions:
- request:
    method: get
    uri: https://ttlivewebapi.fxopen.com/api/v2/public/quotehistory/EURUSD/ticks?timestamp=1893456000000&count=-10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "Ticks": [{
          "Timestamp": 1639070185072,
          "IndicativeTick": false,
          "BestBid": {
           "Volume": 1000000,
           "Price": 1.1288,
           "Type": "Bid"
          },
          "BestAsk": {
           "Volume": 1500000,
           "Price": 1.12883,
           "Type": "Ask"
          },
          "TickType": "Normal"
         }, {
          "Timestamp": 1639070185078,
          "IndicativeTick": false,
          "BestBid": {
           "Volume": 1000000,
           "Price": 1.1288,
           "Type": "Bid"
          },
          "BestAsk": {
           "Volume": 1000000,
           "Price": 1.12882,
           "Type": "Ask"
          },
          "TickType": "Normal"
         }, {
          "Timestamp": 1639070185391,
          "IndicativeTick": false,
          "BestBid": {
    [...]
