S3method(plot,mixedMemModel)
S3method(summary,mixedMemModel)
export(computeBIC)
export(computeELBO)
export(findLabels)
export(permuteLabels)
export(mixedMemModel)
export(mmVarFit)
export(rmixedMem)
export(vizTheta)
export(vizMem)
useDynLib(mixedMem)
importFrom(Rcpp, evalCpp)
importFrom("stats", "rbeta", "rbinom")
