useDynLib(SATS, .registration = TRUE)
importFrom("utils", "data")
importFrom("stats", "runif", "coef", "filter", "setNames")
importFrom("glmnet", "cv.glmnet")
importFrom("GenomicRanges", "GRanges")
importFrom("IRanges", "IRanges")
importFrom("Biostrings", "getSeq", "trinucleotideFrequency", "DNAString", 
           "reverseComplement", "dinucleotideFrequency")
importFrom("dplyr", "bind_cols", "%>%", "group_by", "summarise_at", "as_tibble")
export(EstimateSigActivity, CalculateSignatureBurdens, MappingSignature, GeneratePanelSize, GenerateLMatrix)
