/* custom.css */
.collapsed-box .box-body, .collapsed-box .box-footer {
    display: none;
  }
  .collapsed-box {
    height: auto !important;
  }
  .not-collapsed-box {
    height: 750px !important;
    overflow: auto;
  }
  