exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "getGraphicsEvent", "graphics.off","dev.new","gray")
importFrom("graphics", "plot","lines","hist","legend","par","axis", "barplot", "mtext", "abline", "points", "text","persp")
importFrom("stats","runif","ecdf", "ts","chisq.test")
importFrom("Hmisc","approxExtrap")
importFrom("GGally", "ggnet2")
importFrom("ggplot2", "guides")
importFrom("network", "network","set.vertex.attribute")
importFrom("nloptr","isres")
importFrom("grDevices", "devAskNewPage")
S3method(plot,sim)
S3method(plot,createArea)
S3method(sim,base)
S3method(sim,default)
S3method(createArea,base)
S3method(createArea,default)
S3method(createDiversion,base)
S3method(createDiversion,default)
S3method(createJunction,base)
S3method(createJunction,default)
S3method(createRiver,base)
S3method(createRiver,default)
S3method(createReservoir,base)
S3method(createReservoir,default)
S3method(createAquifer,base)
S3method(createAquifer,default)
S3method(createDemandSite,base)
S3method(createDemandSite,default)
S3method(GOF,base)
S3method(GOF,default)
S3method(cap_design,base)
S3method(cap_design,default)