exportPattern("^[^\\.]")
importFrom(sfsmisc, mult.fig)
importFrom(colorspace, sequential_hcl, rainbow_hcl)
importFrom(denstrip, denstrip)
importFrom(coda, mcmc, mcmc.list, varnames, "varnames<-", as.mcmc.list,as.mcmc, is.mcmc, is.mcmc.list, nchain, nvar)
importFrom("grDevices", "dev.list", "dev.off", "gray", "png", "rgb")
importFrom("graphics", "abline", "axTicks", "axis", "image", "layout",
           "lines", "matlines", "matplot", "par", "plot", "points",
           "rect", "segments", "text", "title")
importFrom("stats", "acf", "as.ts", "cor", "density", "median", "pacf",
           "qnorm", "quantile", "time")
importFrom("utils", "browseURL")
S3method(as.mcmc, bugs)
S3method(as.mcmc, rjags)
