* {
    font-family: Raleway, sans-serif;
    font-variant-numeric: lining-nums;
}

footer {
    font-size: small;
}

#loadmessage {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    color: #ffffff;
    background-color: #0163A2;
    z-index: 105;
}

#hex-sticker {
    max-height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-bottom: 15px;
}