
import(mvtnorm, stats)

importFrom("graphics", "abline", "arrows", "lines", "par", "plot",
             "plot.default", "points", "rect", "text", "title")


S3method(print, clikcorr)
S3method(summary, clikcorr)
S3method(plot, clikcorr)
S3method(clikcorr, default)

export(clikcorr)
export(clikcorr.default)
export(print.clikcorr)
export(summary.clikcorr)
export(plot.clikcorr)
export(est)
export(lrt)
export(splot)
export(splot2)
export(sv)


