useDynLib(PLSiMCpp, .registration=TRUE)
export(plsim.ini)
export(plsim.bw)
export(plsim.MAVE)
export(plsim.lam)
export(plsim.vs.soft)
export(plsim.est)
export(plsim.vs.hard)
export(plsim.npTest)
export(plsim.pTest)

importFrom(Rcpp, evalCpp)
import(crayon)
import(purrr)
importFrom("methods", "is")
importFrom("stats", "as.formula", "model.response", "pchisq", "terms", "var")
importFrom("stats", "lm", "model.matrix", "predict")

S3method(summary, pls)
S3method(print, pls)
S3method(fitted, pls)
S3method(predict, pls)

S3method(plsim.MAVE, formula)
S3method(plsim.MAVE, default)

S3method(plsim.bw,formula)
S3method(plsim.bw,default)

S3method(plsim.ini,formula)
S3method(plsim.ini,default)

S3method(plsim.lam,formula)
S3method(plsim.lam,default)

S3method(plsim.vs.soft,formula)
S3method(plsim.vs.soft,default)

S3method(plsim.est,formula)
S3method(plsim.est,default)

S3method(plsim.vs.hard,formula)
S3method(plsim.vs.hard,default)

S3method(varSelCore,PPLSE)
S3method(varSelCore,StepWise)
