
export(
       "distFrechet",
       ## function
       "meanNA","medianNA","rangeNA","sdNA","varNA","which.minNA","is.tna",
       "catShort","printShort","printMatrixShort","printOneTraj","printTrajLong",
       "reshapeWideToLong","wideToLong","reshapeLongToWide","longToWide",
       #"MAX_CLUSTERS","CRITERION_MIN_OR_MAX","DISTANCE_METHODS","CHOICE_STYLE",

       ## parLongData
       "parLongData","parTRAJ","parMEAN",

       ## ListClustering
       "listPartition","regroup","ordered","ListPartition_show",#"getClusters",

       ## parWindows
       "parWindows","windowsCut",

       ## longData
       #"gald","generateArtificialLongData","gald3d","generateArtificialLongData3d",
       "longData","longData3d","longDataFrom3d","longDataTo3d","LongData_show","LongData3d_show",
       ## longDataPlot
       "plotTrajMeans","plotTrajMeans3d",
       #"plotMeans","plotTraj3d","plotMeans3d",
       "plot3dPdf",
       "canonicalizeAndMergeScene","colorScene","t2ve","is.Triangles3D","colorTriangles",

       "initializePartition",

       #"resizePartition",
       "saveTrianglesAsASY","makeLatexFile"
       #"calculTrajMean","calculTrajMeanPoint","legendCol","varNumAndName","adjustGraph3d",
       #"misc3dPlan","misc3dPave","misc3dLine","misc3dLines",
)

exportMethods(
              ## partition
              "partition",#"ordered",
              ## parLongData
              "expandParLongData",
              ## longData
              "scale","restoreRealData",
              ## longDataPlot
              "plot3dPdf",
              ## imputation
              "imputation",
              ## criterion
              "qualityCriterion",
              ## listPartition
              "plotCriterion","plotAllCriterion"
)
exportClasses(
              "Partition","ListPartition",
              "ParLongData","ParWindows",
              "LongData","LongData3d"
)

export("MAX_CLUSTERS","CLUSTER_NAMES","CRITERION_NAMES","DISTANCE_METHODS","CHOICE_STYLE")

import(methods,clv,rgl,class,graphics,utils,misc3d)

importFrom("grDevices", "col2rgb", "palette", "rainbow")
importFrom("stats", "dist", "dnorm", "median", "na.omit", "reshape", "rnorm", "runif", "sd", "splinefun", "var")
