export(
explainVis,wrap4Explanation
)

importFrom("semiArtificial", "indAttrGen", "rbfDataGen", "treeEnsemble","newdata","cleanData")
importFrom("CORElearn", "CoreModel", "modelEval", "destroyModels", "attrEval", "predict.CoreModel","discretize", "applyDiscretization","intervalMidPoint","preparePlot")
importFrom("grDevices", "dev.off")
importFrom("stats", "aggregate", "model.frame", "na.pass", "predict","qnorm", "reformulate")
importFrom("graphics", "plot.new","axis", "par", "plot", "rect", "segments", "text", "title")    