export("CovComb", "GetVarCov")
importFrom("CholWishart","dWishart")
importFrom("Matrix","nearPD")
importFrom("nlme","logDet","pdSymm")
importFrom("graphics", "abline", "plot")
importFrom("stats", "as.dist", "na.omit")
