# functions
export(MRFA,MRF, polys2nb, nb2prec, draw.polys, polys2polys, nb2nb, gmrf, gamlss.gmrf)

S3method(fitted, MRF)
S3method(coef, MRF)
S3method(AIC, MRF)
S3method(deviance, MRF)
S3method(print, MRF)
S3method(summary, MRF)
S3method(plot, MRF)
S3method(residuals, MRF)
S3method(predict, MRF)
S3method(logLik, MRF)

importFrom(gamlss.dist, dNO, qNO, pNO)
importFrom("grDevices", "gray", "heat.colors", "rainbow", "terrain.colors", "topo.colors", "cm.colors", "colorRamp", "rgb")
importFrom("graphics", "par", "plot", "polygon", "axTicks", "rug", "lines")
importFrom("methods", "is")
importFrom("stats", "deviance","model.matrix", "nlminb", "optimHess", "uniroot", "coef", "fitted", "predict", "resid", "time", "acf", "pacf", "density", "qqnorm", "cor", "var", "pnorm", "printCoefmat")
import(gamlss)
import(gamlss.add)
import(spam)
import(mgcv)