export(matrixBC.BIC,matrixBC,sparseBC,sparseBC.choosekr,sparseBC.BIC,summary.sparseBC,image.sparseBC,summary.matrixBC,image.matrixBC)

S3method(print,sparseBC)
S3method(summary,sparseBC)
S3method(image,sparseBC)
S3method(print,matrixBC)
S3method(summary,matrixBC)
S3method(image,matrixBC)

import(glasso)
import(fields)
importFrom("grDevices", "dev.new", "heat.colors")
importFrom("graphics", "axis", "image", "title")
importFrom("stats", "kmeans", "sd")
importFrom("utils", "tail")