import(survival)
import(rms)
import(CPE)
import(rgenoud)
import(mgcv)
import(stats)
import(graphics)
import(doParallel)
import(foreach)
import(ggplot2)
export(catpredi.survival, comp.cutpoints.survival, controlcatpredi.survival, plot.catpredi.survival, summary.catpredi.survival, catpredi, comp.cutpoints, controlcatpredi, plot.catpredi, summary.catpredi, compare.AUC.ht)
S3method(print, catpredi.survival)
S3method(print, catpredi)
S3method(print, summary.catpredi.survival)
S3method(print, summary.catpredi)
S3method(print, comp.cutpoints.survival)
S3method(print, comp.cutpoints)
S3method(summary, catpredi.survival)
S3method(summary, catpredi)
S3method(plot, catpredi.survival)
S3method(plot, catpredi)