# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  RBGL,
  BiasedUrn,
  utils,
  graph
)

importFrom(igraph, list.vertex.attributes)
importFrom(igraph, 'V<-')
importFrom(igraph, V)
importFrom(igraph, E)
importFrom(igraph, vcount)
importFrom(igraph, add.vertices)
importFrom(igraph, add.edges)
importFrom(igraph, is.directed)
importFrom(igraph, get.vertex.attribute)
importFrom(igraph, shortest.paths)
importFrom(igraph, induced.subgraph)
importFrom(igraph, get.shortest.paths)
importFrom(igraph, get.all.shortest.paths)
importFrom(igraph, get.edgelist)
importFrom(igraph, igraph.from.graphNEL)
importFrom(igraph, list.edge.attributes)
importFrom(graphics, par)
importFrom(stats, cor.test)
importFrom(stats, na.omit)
importFrom(stats, phyper)
importFrom(stats, runif)

