exportPattern(cell_effect_mult_or,cell_effect_or,Cloglin,Cloglin_mult,exp_par,exp_par_mult,indirect_effect_or,ndirect_effect_mult_or,ndirect_effect_or,total_effect_mult_or,total_effect_or)
import(stats)


