useDynLib(birp, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

importFrom("grDevices", "gray")
importFrom("graphics", "abline", "contour", "layout", "lines", "par", "polygon", "text", "legend")
importFrom("stats", "median", "quantile", "density")
importFrom("utils", "read.table", "data")

S3method(print, birp)
S3method(summary, birp)
S3method(plot, birp)

S3method(print, birp_data)
S3method(summary, birp_data)
S3method(plot, birp_data)