## BASIC R IMPORTS ##
  importFrom("grDevices", "colors", "dev.list","col2rgb","rgb")
  importFrom("graphics", "axis", "image", "layout", "legend", "lines",
             "par", "title")
  importFrom("methods", "new","getClass","isVirtualClass")
  importFrom("utils", "browseURL", "help", "vignette", "write.table","head","tail")




## SOME GENERAL IMPORTS + GUI IMPORTS ##

import(stats, Rcmdr)
importFrom(tcltk,ttknotebook,tkwidget,.Tk.subwin,.Tk.newwin,tkbutton,ttklabel,tkadd,tkwinfo,tkfont.measure,tkyview.moveto)
importFrom(gplots,greenred,redgreen)
importFrom(viridis,viridis)

## IMPORT ALL NECESSARY BICLUSTERING PACKAGES - FULL IMPORT ##  
#import(biclust,fabia,isa2,iBBiG,superbiclust,BcDiag)
#importFrom(BicARE,FLOC, testAnnot, testSet, residue, makeReport)
#import(rqubic)
#importFrom(rqubic,...)

#import(biclust,fabia,isa2,iBBiG,superbiclust,BcDiag,BicARE,rqubic)


##### IMPORTING SPECIFICALLY TO GET RID OF CHECK WARNINGS & NOTES. 
# Actually loading will NOT work, always use library()

importFrom(biclust,	drawHeatmap,drawHeatmap2,bubbleplot,parallelCoordinates,
	BiclustResult,	binarize,binarizeByPercentage,densityOnes,	discretize,
	jaccardind,constantVariance,additiveVariance,multiplicativeVariance,
	signVariance,writeBiclusterResults,BCBimax,	BCrepBimax,	BCCC,
	BCXmotifs,	BCSpectral,	BCPlaid,BCQuest,BCQuestord,BCQuestmet,
	clustmember,biclustmember,	plotclust,	writeclust,	bicorder,predictBimax,
	isoverlapp, ensemble, jaccard2,  plaid.grid,  bimax.grid,
#   bicluster,
    biclusternumber, ChiaKaruturi,computeObservedFstat, diagnoseColRow,
    diagnosticPlot, biclustbarchart, heatmapBC)
importClassesFrom(biclust,BiclustMethod,Biclust,BCBimax,BCCC,BCXmotifs,
		BCSpectral,	BCPlaid)
importMethodsFrom(biclust,biclust,show,	summary)
	
	
importFrom(iBBiG,"iBBiG", "makeArtificial","makeSimDesignMat")
importClassesFrom(iBBiG,"iBBiG")
importMethodsFrom(iBBiG, "plot", "show","summary", "RowScorexNumber", "Clusterscores",
    "Seeddata", "Parameters",
    #"RowxNumber",  
    #"NumberxCol", 
    "Number", 
    #"info",
    "analyzeClust","JIdist")

import(fabia,superbiclust,BcDiag,BicARE,s4vd,BiBitR)
#import(rqubic)
#import(isa2)




## OWN FUNCTIONS EXPORT ##
exportPattern("^[^\\.]")
export(.add.frame,.order.button.frames,.find.frame,.eval.command,.combine.rows,.make.correct.frame,.update.biclustering.object,.initialize.new.frames,.initialize.grid.config,.initialize.grid.rows,.grid.matrix,.build.command.argument,.transform.vector2text,.build.button.function,.give.doublequote,.output.sparse.txt,.is.binary.matrix,.binary.activematrix.check,.rcmdr.warning,.fabia2biclust,.makesearchdata,.bicare2biclust,.putbefore,.makeResultList,.correctdataforresult,.tobiclust,.isbiclustGUIresult,.tobiclust_transf,.isBiclustresult,.checkplotgridpref,.GetEnvBiclustGUI,.AssignEnvBiclustGUI,.isListofBiclustGUIresults,.makeSuperbiclustResultList)
export(greenred,redgreen,viridis)
