export(expectOrderBeta, informativeArrayProb,
       halving, TOD, Sterrett,
       operatingCharacteristics1, opChar1, OTC1,
       operatingCharacteristics2, opChar2, OTC2,
       Accuracy, IndProb, CompareConfig,
       ExpTests, ExpTests.opChar, ExpTests.OTC,
       ExpTests.Sterrett, ExpTests.halving, ExpTests.TOD,
       Config, Config.opChar, Config.OTC,
       pmf, pmf.halving, pmf.Sterrett,
       gtSim, gtReg, gtRegControl,
       propCI, propDiffCI, gtPower, gtTest, gtWidth,
       designEst, designPower,
       GroupMembershipMatrix
)

import(ggplot2)
import(graphics)
import(Rcpp)


importFrom("grDevices", "dev.new")
importFrom("partitions", "parts")
importFrom("rBeta2009", "rdirichlet")
importFrom("Rdpack", "reprompt")
importFrom("scales", "pretty_breaks")
importFrom("stats","binomial", "binom.test", "coef", "dbinom", "delete.response", "dbeta", "dnorm", "glm.fit", "integrate", "is.empty.model", "lm", "lm.fit", "model.extract", "model.frame", "model.matrix", "model.response", "na.omit", "na.pass", "optim", "pbeta", "pbinom", "plogis", "pnorm", "printCoefmat", "qbeta", "qbinom", "qchisq", "qnorm", "quantile", "rbeta", "rbinom", "residuals", "rgamma", "runif", "terms", "uniroot")
importFrom("utils", "tail", "head")

useDynLib(binGroup2, .registration=TRUE)

S3method(summary, opChar)
S3method(print, opChar)

S3method(plot, OTC)
S3method(summary, OTC)
S3method(print, OTC)

S3method(coef, gtReg)
S3method(formula, gtReg)
S3method(predict, gtReg)
S3method(print, gtReg)
S3method(residuals, gtReg)
S3method(summary, gtReg)
S3method(print, summary.gtReg)
S3method(print, predict.gtReg)

S3method(print, halving)

S3method(print, designPower)
S3method(print, designEst)
S3method(print, gtTest)
S3method(print, propCI)
S3method(print, propDiffCI)

S3method(print, TOD)

S3method(print, Sterrett)

S3method(ExpTests, opChar)
S3method(ExpTests, OTC)
S3method(ExpTests, Sterrett)
S3method(ExpTests, halving)
S3method(ExpTests, TOD)

S3method(Config, opChar)
S3method(Config, OTC)

S3method(pmf, halving)
S3method(pmf, Sterrett)
