export(deconv_npmle, eivreg, get_bugs_wishart_scalemat, lr_ancova)

importFrom("stats", "as.formula", ".getXlevels", "coef", "cov.wt", "dnorm",
           "is.empty.model", "lm", "lm.fit", "lm.wfit", "median", "model.matrix",
           "model.matrix.lm", "model.offset", "model.response", "model.weights",
           "na.omit", "optim", "printCoefmat", "pt", "quantile", "resid", "rnorm",
           "runif", "rWishart", "sd", "symnum", "var", "weighted.mean")

importFrom("grDevices", "dev.off", "pdf")

importFrom("graphics", "plot", "points")

importFrom("utils", "flush.console")

importFrom("R2jags", "jags")

S3method(model.matrix, eivlm)
S3method(print, eivlm)
S3method(print, summary.eivlm)
S3method(summary, eivlm)
S3method(vcov, eivlm)
