import(methods)
import(Matrix)
import(lassoshooting)
importFrom("survival",survdiff,survfit,Surv)
importFrom("irr",kendall)
importFrom("elasticnet",spca)
#import(graph)
#importFrom("Rgraphviz",plot)

importFrom("graphics", "abline", "axis", "legend", "lines", "par", "plot", "points", "text", "title")
importFrom("stats", "coef", "cor", "loess", "lsfit", "predict", "quantile")

S3method(coef, EPOCA)
S3method(coef, EPOCG)
S3method(predict, EPOCA)
S3method(predict, EPOCG)
S3method(summary, EPOCA)
S3method(summary, EPOCG)
S3method(print, summary.EPOCA)
S3method(print, summary.EPOCG)
S3method(print, EPOCA)
S3method(print, EPOCG)
S3method(plot, EPOCA)
S3method(plot, EPOCG)
S3method(plot, EPoC.validation.pred)
S3method(plot, EPoC.validation.W)


export(epocA)
export(epocG)
export(epoc.lambdamax)
export(modelselPlot)

export(epoc.validation)
export(epoc.bootstrap)
export(plot.bootsize)
S3method(plot,bootsize)
export(epoc.bootplot)
export(epoc.final)

export(epoc.svd)
export(epoc.svdplot)
export(epoc.survival)
S3method(plot,EPoC.survival)
S3method(summary,EPoC.survival)
S3method(print,summary.EPoC.survival)

export(write.sif)

export(as.graph.EPOCA)
export(as.graph.EPOCG)

export(plapply)

