useDynLib(hapsim, .registration = TRUE)

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  MASS
)


  importFrom("grDevices", "heat.colors")
  importFrom("graphics", "axis", "box", "image", "layout", "lcm", "par")
  importFrom("stats", "cor", "qnorm")



