export(copulaClassifier)
export(copulaPredict)
export(classification_report)
import(copula)
import(igraph)
import(GRIDCOPULA)
import(kde1d)
import(TSP)
importFrom("pracma","integral2")
importFrom("stats", "dnorm", "optim","pnorm")
