/* Whole document: */
body{
  font-family: Times New Roman;
  font-size: 14pt;
}
/* Headers */
h1{
  font-family: Times New Roman;
  font-size: 18pt;
}
h2{
  font-family: Times New Roman;
  font-size: 17pt;
}
 h4 span {
 font-family: Times New Roman;
  font-size: 14pt;
 }
h3,h4,h5,h6{
  font-family: Times New Roman;
  font-size: 16pt;
}