.code {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.codeValue {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.identifier {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.sectionBreak {
  border-radius: .25em;
  box-sizing: border-box;
  display: block;
}

.uid {
  border-radius: 0;
  box-sizing: border-box;
}

.utterance {
  display: block;
}
